[2019-01-23 14:00] BraverChiang opened #1 "how to make a geometry only with the stroke without fill. and how to set the width/color of stroke"

[2019-03-01 20:11] nicklockwood commented on #1
@BraverChiang currently this isn't supported. SceneKit doesn't support stroke width or colour for lines, so I don't really have a way to render these options even if Euclid supported them.

In future I intend to support paths with holes, which would allow you to create a filled shape with thin border, but right now that's difficult to do using the built-in primitives.

[2019-03-29 10:08] icefox57 opened #3 "How to merged 2 translucent shape"
this is what i want to do , i found euclid maybe a solution for me.

https://stackoverflow.com/questions/55330969/how-to-merge-multiple-camera-projection-area-and-draw-on-a-planenode

And i tried to merge 2 shape , but seems not work for me .

2 shape have overlap, but not merged as i want , Actually, I just want the overlapping area have the same color.

![WechatIMG105](https://user-images.github

[2019-03-29 11:19] nicklockwood commented on #3
@icefox57 Euclid's `merge` function just concatenates the polygons into a single Mesh, without trying to combine them.  Instead of

`mesh.merge(oldMesh)`

You probably want to use

`mesh.union(oldMesh)`

[2019-03-29 11:20] nicklockwood commented on #3
Also, FYI, instead of

`PathPoint(Vector(ptl), isCurved: false)`

You can just write

`.point(Vector(ptl))`

[2019-04-01 01:42] icefox57 commented on #3
thank you very much

[2019-04-01 01:43] #3 closed

[2019-04-26 05:26] PrashantKT opened #5 "How can I Draw 3D Line using points on screen ?"

[2019-04-26 14:33] nicklockwood commented on #5
You can the `Path` type, and render it using SceneKit:

[code]

Note: Metal-based line drawing is pretty ugly in SceneKit (it looks OK if you select OpenGL rendering).

[2019-04-30 20:44] RaphiePS opened #6 "Clipping a Mesh by a Plane?"
Heyo, thanks for the incredible library! I'd like to clip a `Mesh` by a `Plane`, exactly like this [CGAL function](https://doc.cgal.org/latest/Polygon_mesh_processing/group__PMP__corefinement__grp.html#ga5bf228a516a46f6d1c80937067a17f7e) explained in more detail [here](https://doc.cgal.org/latest/Polygon_mesh_processing/index.html#coref_clip).

I see that `Polygon` has both `split` and `clip` meth

[2019-04-30 21:27] nicklockwood commented on #6
@RaphiePS you can clip a mesh by creating a cube with one side matching the plane you want to clip along and then subtracting the cube from your mesh using the CSG functions.

It would be possible to clip directly to a plane using private methods. I can look at exposing a plane clipping method in the public API if the cube solution is unsatisfactory.

[2019-04-30 21:27] #5 closed

[2019-04-30 21:35] RaphiePS commented on #6
@nicklockwood thanks for responding so quickly - I'll give it a try! The cube approach is really clever and I'll give it a shot. I assume there's no performance penalty for using a _massive_ cube to simulate an infinite plane, but I'll report back.

Cube-clipping should definitely work, though it does seem just a tad hacky. If it's not too much effort a public plane-clip method would be awesome. I

[2019-04-30 22:29] nicklockwood commented on #6
@RaphiePS the size of the cube should make no difference - bigger is actually better as clipping will be more efficient if the 5 other faces of the cube are far away from the mesh being clipped.

I've just realized though that this approach will fill in the clipped surface of the clipped mesh with additional polygons (rather than leaving the backfaces exposed), which may not be what you want.

[2019-05-30 19:25] voronoff2803 opened #7 "Hi, how can I export the resulting model?"
Hi, how can I export the resulting model?

[2019-05-30 20:00] nicklockwood commented on #7
If you are using macOS or iOS, SceneKit has methods for exporting models to many different formats, so just create an SCNNode from your Euclid Geometry and export that.

[2019-06-21 08:53] Nilesh04 opened #8 "Line to 3D object"
Hello @nicklockwood

I have polyline now i want to convert it to 3d object. So that I can rotate it.
Is there any way with you library to achieve it ?
As I can see in notes, But How can I use it ?

[2019-06-21 09:54] Nilesh04 commented on #8
Ok @nicklockwood
Thank you for quick response. Let me check this methods.
If I am right I need to pass array of points i.e. x,y,z
Right ?

[2019-06-21 10:50] Nilesh04 commented on #8
@nicklockwood Is it the right way to do polyline to 3D object.

[code]

[2019-06-21 15:24] nicklockwood commented on #8
Yes, although it's a laborious way to write the polyline code. You can just write:

[code]

I'm not sure why your polyline points have x y and z coordinates though. If the path points are not flat on a plane then it can't be extruded, so maybe you are trying to do something else?

[2019-10-08 02:00] kemalenver opened #9 "Is it possible to create a ring that can be animated from 0-360 degrees?"
I'd like to create a tube geometry that can be animated from 0 -360 degrees over a set period of time.  A bit like a compass drawing a circle.  Is it possible to do something like this with Euclid?

[2019-11-22 08:34] nicklockwood commented on #9
@kemalenver Euclid doesn't ave any animation capabilities, so you'd have to do it by creating the geometry afresh each frame. It should be possible to do this either by using `Mesh.loft()` to join a series of circular cross-sections, or by using `Mesh.lathe()` to create a torus, and then subtracting a wedge shape from it using CSG.

[2019-11-22 23:03] unnamed666 opened #11 "Is it possible to use with Objective C ?"
i installed it with pod to my project but cant figure out how to use it - is it even possible ?

[2019-11-22 23:09] nicklockwood commented on #11
@unnamed666 Euclid isn't designed to be used with Objective-C. What you could do is write a wrapper in Swift that imports Euclid and exports whatever functionality you need as `@objc` class interfaces that can be called from Objective-C code.

[2019-11-22 23:18] unnamed666 commented on #11
thank you - i'am trying it right now :)

[2019-11-23 13:16] #11 closed

[2019-12-09 22:49] icatSolutions opened #12 "Slow"
Why are these operations soooo slow?
Getting the polygons from SCNNode into Mesh() takes ages.
The JS counterpart application is extremely fast.
Is this a bug?

[2019-12-10 08:57] nicklockwood commented on #12
@icatSolutions could be. Have you tried running Euclid in release mode rather than debug, as Swift performance is quite sensitive to optimizations.

If it's still slow in release mode, can you supply some sample code demonstrating an operation that's slow in Euclid and fast in JS? Then I can try to identify the bottleneck.

[2019-12-10 08:58] #9 closed

[2019-12-10 08:58] #7 closed

[2019-12-10 12:00] icatSolutions commented on #12
Thanks for the swift reply.

Branch: develop
Scheme: release

[code]

The above crashes the app (if you reduce the slices to 140 -> I think it takes a good 12 to 15sec to do the "subtraction"

**The same parameters where you based the Swift project on (JS) runs in 0.5 sec... (stacks)**
(http://github.com/evanw/csg.js/)

Also the following code has the some issues:

[code]

1. The segmentCount for

[2019-12-16 10:16] nhevaweb opened #13 "Creating a not closed curved line 3D line"
I'm trying to draw a curve like a curved tube
I'm generating a Path from my CGPath (containing curves), I tried using Mesh.extrude but it's creating a flat non curved ribbon.
Is Euclid able to render something like this ? Filled or not

![image](https://user-images.githubusercontent.com/23048593/70898666-6169e580-1ff5-11ea-9736-f04e8a1275a5.png)

[2019-12-16 10:38] nicklockwood commented on #13
You can create this with the loft primitive, but the API for it is a bit awkward at the moment as you have to provide an array of cross sections rather than one cross section and a path.

[2019-12-16 13:45] nhevaweb commented on #13
Hmm I generated a Path with a PathPoint array from a non closed BezierPath
Create a Mesh.loft with this Path and it renders a filled polygon with no depth.
Am I missing something here ?

[2019-12-29 09:41] icatSolutions commented on #12
@nicklockwood hello. Did you ever find a solution for the above?
Thank you

[2019-12-29 09:56] nicklockwood commented on #12
@icatSolutions not yet - I've been focussed on other tasks, but I should get to this soon.

[2020-01-02 18:35] nicklockwood commented on #13
@nhevaweb the paths you pass to the loft function are cross-sections (so in this case they would be circles). To create the tube you'd need to arrange multiple cross-sections in 3D space to form the tube.

[2020-01-03 08:23] #8 closed

[2020-01-03 11:07] nicklockwood commented on #12
@icatSolutions I'm not really sure why this is, but it seems that changes to the segmentCount on SCNGeometry doesn't affect the output from sources (maybe some kind of internal caching bug?).

A workaround is to copy the geometry after changing it, like this:

[code]

[2020-01-03 11:20] icatSolutions commented on #12
@nicklockwood Thank you. Will try..

Any thoughts about this:

[code]

The same parameters where you based the Swift project on (JS) runs in 0.5 sec... (stacks)
(http://github.com/evanw/csg.js/)

[2020-01-03 12:07] nicklockwood commented on #12
I'm not exactly sure what the cause of the performance issues is. I profiled it and it's spending a lot of time in array allocations, which I can probably reduce but it will require significant refactoring.

It also doesn't really explain why it's slower than JS, which presumably has to do a similar amount of allocation.

Another possibility it's due to the extra stuff that my implementation does

[2020-01-03 12:09] nicklockwood commented on #12
As for the crash, that's caused by a stack overflow due to recursion. The workaround I'd suggest is to create a new Thread with a larger stack size and run the operation inside it.

[2020-01-05 08:52] andygeers opened #14 "CSG `subtract` pulling in some polygons from thing being subtracted"
I'm having issues with the CSG `subtract` method, where some of the polygons from the mesh being subtracted are retained, way beyond the bounds of the mesh they're being subtracted from. I've tried to compare your code with the original JS library that the CSG stuff is inspired by, but the implementation is so different that I can't get my head around it. Any thoughts?

See the really big sticking

[2020-01-05 09:41] andygeers commented on #14
Even if you were able to explain a little of how your code maps to the explanation of how the geometry works in that Js library would be a real help- e.g. they use the concept of “invert”ing a set where you use “clip” and I just couldn’t quite follow the intent behind your code (sorry! I am sure it is great; I am just a bear of very little brain)

[2020-01-05 09:55] nicklockwood commented on #14
@andygeers the code has evolved quite a bit since the JS version and I'm not sure it exactly correlates anymore. If you could share the code you use to generate the wallMesh then I can try to track this issue down.

[2020-01-06 09:05] icatSolutions commented on #12
I understand. We are grateful to your work and commitment to open source it. We find great value to your project and we would like to donate an amount towards refactoring the process (or finding a solution) in order to “speed things up” if that would help. Please get in touch should you wish to discuss further. Thank you.
info@icatmed.com

[2020-01-06 20:23] andygeers commented on #14
D’oh! I think I figured it out. The clue is in the name: constructive SOLID geometry. My wall mesh had no back plane so all the assumptions were faulty. Haven’t verified this yet but pretty sure that must be the case- I couldn’t reproduce it easily when using the full wall mesh that included a back plane and sides.

[2020-01-06 20:23] #14 closed

[2020-01-06 21:28] nicklockwood commented on #14
@andygeers ah yes, that would explain it. It only works correctly for closed hulls.

[2020-01-07 07:32] andygeers commented on #6
I too would love a method for clipping by a plane if it was easy to expose those private methods, Nick! Otherwise I might just submit a PR that makes the cube method available

[2020-01-07 18:57] nicklockwood commented on #12
@icatSolutions thank you for the offer, but that won't be necessary :-)

I have some good news - I was able to find a simple 2X speedup by removing an array allocation. I've pushed the changes to the develop branch.

I know it's not the order-of-magnitude improvement you're looking for, but I'll keep digging and hopefully there will be some other low-hanging fruit.

[2020-01-08 00:55] nicklockwood commented on #6
@andygeers it should be pretty simple, I'll try to put up an implementation asap.

[2020-01-08 07:43] andygeers commented on #6
Thanks Nick, that would be great. Filling in the clipped surface is a good thing in my use case.

[2020-01-08 09:40] nicklockwood commented on #6
@andygeers I've added a method to clip without filling the clipped surface (it's on the develop branch). Filling is slightly more complicated but should also be doable.

Using the cube solution in the meantime should also work fine. It's probably not worth adding a PR for it because it's not really the optimal solution, and the hard part (automatically detecting the right size to make the cube) is

[2020-01-08 09:48] andygeers commented on #6
Thanks Nick. Well if I figure out that hard part for the cube method I'll at least send you a link to my code in case it's of benefit. Once we get a way to fill in the hole, I can also use it to implement the other bit I've been working on - the *intersection* between a mesh and a plane, which returns an array of polygons. I can just clip by the plane then return all polygons contained in the plan

[2020-01-08 11:51] nicklockwood commented on #6
@andygeers when you say "intersection between a mesh and a plane", do you mean the polygons from the original mesh that intersect the plane, or the polygons that make up the area on the surface of the plane that is inside the mesh?

The former can be done quite easily, although it currently requires private methods. I just added an internal ` compare(with plane: Plane)` method to Polygon which wil

[2020-01-08 12:11] andygeers commented on #6
Ooh, good tip there - I meant the latter, and hadn't considered that approach. Nice!

[2020-01-08 12:11] andygeers commented on #6
(can that be used as a solution to your other problem of how to fill in the hole after clipping by the plane?)

[2020-01-08 12:18] nicklockwood commented on #6
@andygeers that would certainly form part of the solution, but that's why we need to know the size of the cube.

It's honestly not a very hard problem, I just haven't thought about it yet - it probably involves something like taking the bounding box of the mesh and then rotating it to match the coordinate space of the plane.

[2020-01-09 07:56] andygeers commented on #6
I haven't got this fully working, but here's my starter for ten on an approach for determining the cube size and position:

[code]

[2020-01-09 13:18] andygeers commented on #6
Ah, so I was almost right: cube position should be `return centerOnPlane + plane.normal * (size / 2.0)` instead. Admittedly have only tested so far with meshes that are axis aligned to start with, but seems to work nicely

[2020-01-10 00:40] nicklockwood commented on #6
@andygeers that didn't quite work as the min/max of the bounds aren't necessarily the maximum distance for all plane angles. I've managed to find a solution though, and I've pushed it to the develop branch.

To try it out, in the Example app use something like this:

[code]

[2020-01-11 01:00] nicklockwood commented on #6
Implemented in 0.2.1

[2020-01-11 01:00] #6 closed

[2020-01-14 21:02] nicklockwood commented on #12
@icatSolutions I managed to get another 2X speedup in the CSG logic in version 0.2.3. Also, thanks to a fix from @andygeers the conversion to SceneKit mesh is also now much quicker.

[2020-01-14 21:35] icatSolutions commented on #12
@nicklockwood @andygeers Thank you both for your excellent work (both). You are very talented engineers.

[2020-01-20 18:53] nicklockwood commented on #12
@icatSolutions I got another big speed boost by not splitting polygons when building the BSP. I'm not 100% sure there aren't any negative consequences to this (it seems to increase the resultant poly count in some cases), but so far it looks promising. I've pushed a new version to develop if you want to check it out.

[2020-01-20 21:03] andygeers commented on #12
@nicklockwood I have a feeling the changes have some negative consequences....

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-01-20 at 20 54 01](https://user-images.githubusercontent.com/1673899/72757497-07e27100-3bc8-11ea-9e15-4637ecb16489.png)

...although I also had to change my method since I had been sneakily using `mesh.polygons += otherMesh.polygons` instead of union (it seemed to be q

[2020-01-20 21:17] nicklockwood commented on #12
@andygeers I've fixed a few bugs - try pulling again.

[2020-01-20 21:37] nicklockwood commented on #12
@andygeers merging meshes by appending polygons was never particularly reliable because it  can produces a self-intersecting shape, which may then not work correctly for CSG, however if you want to do that you still can - just get the (ready-only) polygon arrays from the two meshes and concatenate them, then create a new Mesh.

[2020-01-20 21:52] andygeers commented on #12
@nicklockwood Did you push those bug fixes? I've tried using your suggested methods of just concatenating the two lists of polygons, and I still get all of the glitches. But I can't see any new commits to your develop branch since the first time I tried. I've been trying to put together a simple test case to reproduce the issue but haven't quite managed yet. Will keep trying for you!

[2020-01-20 21:56] nicklockwood commented on #12
@andygeers I rebased the fixes into the relevant commits, but you should find that the asserts are no longer there.

There does seem to be a bug with unions that I'm currently trying to track down. I'm not aware of any other issues right now, but a test case for any issues you're seeing would certainly be helpful.

[2020-01-20 22:27] andygeers commented on #12
@nicklockwood In my branch https://github.com/andygeers/Euclid/tree/mesh-test I *think* I've reproduced some kind of issue. If you rotate the mesh round and look at the red bits clipped by the plane, you'll see a few holes that shouldn't be there. If you were to then uncomment the `.subtract(hole)` bit those holes would then cause bad things to happen. If I run this same test using the `master` br

[2020-01-21 00:44] nicklockwood commented on #12
@andygeers thanks, I believe I've now fixed the holes bug (at a slight cost to the performance).

[2020-01-21 21:50] nicklockwood commented on #12
The latest update is *dramatically* faster for convex meshes (sphere's, cubes, etc). Unfortunately there's not much improvement for concave meshes, and also I need a fast way to detect convexness because currently it only works for meshes created using Euclid shape primitives.

[2020-01-21 22:48] andygeers commented on #12
@nicklockwood It's looking loads better in my main app... Although I still get these weird "stilts" (with matching holes inside the house):

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-01-21 at 22 45 56](https://user-images.githubusercontent.com/1673899/72850001-f66c9800-3c9f-11ea-95d7-259ffb18b8f6.png)

- But so far no joy in reproducing this in the test app, so it could still be something

[2020-01-21 22:52] nicklockwood commented on #12
@andygeers I found and fixed another bug that might relate to your "stilts" glitch. Try pulling develop again.

[2020-01-21 23:15] andygeers commented on #12
@nicklockwood Still happens I'm afraid. I updated my https://github.com/andygeers/Euclid/tree/mesh-test branch to demonstrate the problem (sorry it's so slow!) - it contains a lot more of my actual app code in it than I would have liked, but at least you can see the issue. It doesn't incorporate your latest changes yet (got a conflict when doing rebase and have to head off now) but I did try your

[2020-01-21 23:46] nicklockwood commented on #12
@andygeers thanks - I've pulled your project if you'd like to take it down.

[2020-01-22 14:55] dharmeshrchauhan opened #18 "Problem with extrusion when using circle path with 25 segments"
When I try to do extrusion with circle path with 25 segments it is not showing cylinder ends as per attached screenshot. However it is working for other counts for segments though.

Following code will reproduce the problem:

        let path = Path.circle(radius: 0.50, segments: 25)
        let mesh = Mesh.extrude(path, depth: 0.25, faces: .default, material: UIColor.green)
        let geometry =

[2020-01-22 18:24] nicklockwood commented on #12
@andygeers this is now fixed on develop.

[2020-01-23 01:52] nicklockwood commented on #12
@andygeers I had to add some hacks to support your project specifically, which may well not work for other similar geometries. I believe that the reason for the weird "stilts" and other glitches you are seeing is that the 01_bricks.usdz mesh you are using has holes in it, which breaks the CSG logic.

In future I will hopefully find ways to compensate for this by auto-sealing holes in the mesh (or

[2020-01-23 07:37] andygeers commented on #12
@nicklockwood I will check again - but the method I am using to generate is intended to guarantee that it doesn't have holes in it (it takes a PNG image and generates a flat surface on top then seals in the sides, top and bottom, and the back).
I've tried to test on my main app but I can't get as far as it rendering because it keeps failing the assertions inside Mesh.init(unchecked: ) saying that

[2020-01-23 08:51] nicklockwood commented on #12
@andygeers

I think there may be a bug in your sealing logic. Looking at the USD file (just in Xcode, not through Euclid), the edge polygons here don't seem to line up with the bricks.

<img width="660" alt="Screenshot 2020-01-23 at 08 45 29" src="https://user-images.githubusercontent.com/546885/72969199-ea2a2d00-3dbc-11ea-87e7-e80ea7dcac41.png">

I also tried converting the file to OBJ format and

[2020-01-23 08:52] nicklockwood commented on #12
@andygeers

Sorry about that - I only tested it in release mode. There is indeed a slight bug there, but I've fixed that now and it makes no difference to the rendering problem.

[2020-01-23 09:31] nicklockwood commented on #18
@dharmeshrchauhan thanks for reporting this. It's now fixed on the develop branch - I should have a new release out soon.

[2020-01-23 09:33] nicklockwood commented on #12
@andygeers the assertion failures should now be fixed on develop.

[2020-01-23 09:35] andygeers commented on #12
@nicklockwood

Ah, good spot. I used to have a bug like that which i fixed - maybe I never regenerated this particular mesh. Or maybe there's a second similar bug! Sorry for any time wasted.

[2020-01-23 10:52] dharmeshrchauhan commented on #18
thanks a lot,
I see that problem is no longer there in develop branch.

[2020-01-23 10:52] #18 closed

[2020-01-23 22:12] andygeers commented on #12
@nicklockwood Working beautifully now - THANK YOU! I suspect that somehow my old buggy USDZ file made it into that test branch, as I didn't actually need to change anything to get my main app working now running against the official Euclid 0.3.0

[2020-01-23 22:39] nicklockwood commented on #12
@andygeers I shipped the hack to support your broken file in 3.0, so it's possible you're still using it in your main app too. If you can send me the fixed USDZ I can verify if it's safe to remove the hack in the next release.

[2020-01-24 10:57] nicklockwood commented on #12
@icatSolutions I'm going to close this issue. Performance tuning is never really "completed", as there is always room for improvement, but CSG operations are now between 10x and 100x faster (depending on whether the input meshes are convex).

If you encounter any other cases where it seems slower than you'd expect, feel free to open a new issue.

[2020-01-24 10:57] #12 closed

[2020-01-26 07:39] andygeers opened #19 "New glitches in CSG :-("
Hi Nick, I'm so sorry to be the bearer of bad news, but I think in some of the recent changes some new issues might have been introduced with the CSG stuff. I was particularly having problems with the 'intersect' method, but in trying to reproduce it (in my branch https://github.com/andygeers/Euclid/tree/mesh-test2 - with corrected USDZ mesh) I wonder if the problem might actually be introduced by

[2020-01-26 07:41] andygeers commented on #19
Not sure why images not working! Have tried to upload a few times. But anyway, it issue in the example should be obvious

[2020-01-26 08:28] nicklockwood commented on #19
@andygeers I'm not sure if this is a regression as I've seen glitches like this before that are basically caused by float precision issues, especially when you have coplanar polygons intersecting. Although it's not very satisfactory, you can usually resolve it by adding a small offset so the polygons are exactly on the same plane, e.g.

[code]

[2020-01-26 08:30] andygeers commented on #19
Oh, and in case it's also relevant: I'm still getting quite a lot of assertion failures on that allSatisfy `isConvex` check - coming from `intersect`

[2020-01-26 08:31] nicklockwood commented on #19
@andygeers that *is* certainly relevant. Can I repro that in your project?

[2020-01-26 08:33] andygeers commented on #19
Urgh, I wish you could! I will keep working on this example - I'll have to go back to another version that incorporates more of my actual app code, since the mini demo version is frustratingly behaving itself rather well! But that'll have to be tonight or tomorrow. My main app is looking *really* glitchy - I will see if getting rid of overlapping meshes resolves it. But I think there it is the int

[2020-01-26 09:06] nicklockwood commented on #19
@andygeers something that may be worth trying in your main app is bisecting the changes in Euclid 3.0 to identify which actual commit broke your code.

If the problem is related to using union, note that you can combine meshes using merge instead (or just concatenating the polygon arrays) which is basically the same as what you were doing before IIUC. However that will produce self-intersecting me

[2020-01-27 08:15] icatSolutions opened #20 "Pivot point of resulted mesh"
I am not sure if this should be classed as "issue" or enhancement or something else...

When an scnNode is created out of the resulted mesh, the pivot point of the subtracted node is not in the center of the geometry but rather where it was before.

In other words if you an SCNNode (not in the center of the scene)
get the position of the scnNode, pass it to the Mesh,
subtract the two meshes, creat

[2020-01-27 12:41] andygeers commented on #19
OK, so I think the `allSatisfy` thing must have somehow been me running an old version of the code. And the other glitches with intersect were I think caused by me trying to be clever - `intersect` for me (admittedly in debug mode) is REALLY slow, and I have certain constraints that allow me to reject certain polygons quite quickly (i.e. because I know that the thing I'm intersecting with is orien

[2020-01-27 13:14] andygeers commented on #19
Actually, there are two things in that https://github.com/andygeers/Euclid/tree/mesh-test2 branch that are worthy of investigation:

  1) After the `intersect` there are lots of front-facing polygons missing
  2) You can see how painfully slow `intersect` is. It takes like 5 or 6 seconds to intersect with a simple cuboid, even in "release" mode. The offending line is `bp = BSP(self).clip(bp, .less

[2020-01-27 13:48] nicklockwood commented on #19
@andygeers so the way that intersect (and actually pretty much all the CSG ops) is as follows:

1) A bounds check is performed on each mesh's polygons against the bounding box of the other mesh to eliminate polygons that can't possibly intersect. This step is slightly redundant, but it broke your project when I removed it :-)

2) A BSP tree is created from each mesh. This is quite expensive, espec

[2020-01-27 14:12] andygeers commented on #19
@nicklockwood Thanks for this - super helpful explanation. I shall keep digging.

[2020-01-27 14:41] andygeers commented on #19
@nicklockwood So interestingly it is 10x faster in release mode to do `hole.intersect(wall)` vs `wall.intersect(hole)`. Maybe that's expected behaviour..?. At the very least, that way around the bottleneck appears to be in calculating the BSP for the wall mesh, which feels like something I can probably cache/precalculate somewhere since roughly speaking the wall mesh is fairly constant, it's just

[2020-01-27 14:46] nicklockwood commented on #19
@andygeers I guess one way round it can discard more polygons prior to clipping thanks to the bounds check? In any case that's probably something that could be detected inside the method itself as an optimization.

[2020-01-27 14:56] andygeers commented on #19
Just as a diagnostic test, I modified `intersect` to return `return Mesh(unchecked: ap + bp + ap.map { $0.inverted() } + bp.map { $0.inverted() }, isConvex: isConvex && mesh.isConvex)` (rather than just  `ap+bp`) and suddenly all of those missing front-facing polygons reappeared... Is it possible that something somewhere is failing to return things in the correct winding order?

[2020-01-27 15:08] nicklockwood commented on #19
@andygeers it's possible the `.lessThan` should be `.lessThanEqual` in one of those clip operations (or vice-versa).

[2020-01-27 16:03] andygeers commented on #19
Thanks for the suggestion, but I tried each permutation (both `.lessThan`, both `.lessThanEqual`, and simply swapping them round) but no improvement (and often a lot worse).

[2020-01-27 16:35] andygeers commented on #1
It may or may not suit your purposes, but I used [SCNLine](https://github.com/maxxfrazer/SceneKit-SCNLine)

[2020-01-27 16:47] andygeers commented on #1
(it might be overkill, but I then also use [SwiftGraph](https://github.com/davecom/SwiftGraph) to find all of the unique edges in the mesh, to work out where I need to draw a line)

[2020-01-27 17:30] andygeers commented on #19
BTW, I think your BSP.init should *always* use the DRN randomised polygon order (i.e. regardless of whether it's convex) - better performance for both directions of `intersect`

[2020-01-27 17:52] nicklockwood commented on #19
@andygeers performance is better, but I was seeing holes in some geometry if I randomized it. That might be due to an unrelated bug though.

[2020-01-27 17:53] andygeers commented on #19
Or possibly this same bug demonstrated in this demo :-)

[2020-01-28 09:18] #20 closed

[2020-01-29 05:46] dharmeshrchauhan opened #21 "Problem with subtraction and union CSG operations"
I am allowing user to draw on 3d object and then make intrusion or hole of the shape on 3D object. This is achieved by doing subtraction. This works most of the time without any problem, however it fails sometimes and result 3d object doesn't look good (as per attached screenshot).

Reference code to reproduce problem:

[code]
.
![Simulator Screen Shot - iPad Pro (9 7-inch) - 2020-01-29 at 11 06 5

[2020-01-30 06:55] dharmeshrchauhan commented on #21
Tried to reduce minimal set of points that still causes problem. Hope it helps in diagnosing the problem.

        let cube = Mesh.cube(size: Vector(0.075, 1.5, 1.5), material: UIColor.lightGray)
        let points = [
                      Euclid.PathPoint(Euclid.Vector(0.027999856950000002, -0.24907588959000002, -0.09345978498000002), isCurved: false),
                      Euclid.PathPoint(Eucl

[2020-02-03 12:57] andygeers commented on #21
I wonder if this is the same as https://github.com/nicklockwood/Euclid/issues/19 - could you try merging the result of your subtract operation with the inverted version (I think it's `mesh.merge(mesh.inverted())` and see if it looks better? My theory is that some faces are being inverted by mistake at some point in the CSG process.

[2020-02-03 13:41] ashokbk commented on #21
Thanks @andygeers,
Tried  merging the result of your subtract operation with the inverted version. It still shows unintended hollow space but result looks bit different.
![Screen Shot 2020-02-03 at 7 08 43 PM](https://user-images.githubusercontent.com/6715296/73657727-e188ff00-46b8-11ea-811f-5a2a46989a10.png)

[2020-02-03 13:51] dharmeshrchauhan commented on #21
Thanks @andygeers,
Tried merging the result of your subtract operation with the inverted version. There are still unwanted hollow space in the result but it looks slightly different.
![image](https://user-images.githubusercontent.com/10988871/73658420-4db83280-46ba-11ea-8713-0ae75515b9d7.png)

[2020-02-06 18:15] andygeers opened #23 "Reuse BSP tree info between CSG operations for improved performance"
It seems like quite a bottleneck for complex meshes to keep regenerating brand new BSP trees from scratch for every CSG operation.
What if the “storage” on each Mesh was in fact a BSP- and each operation used the existing BSPs to generate a new one for the resulting Mesh?

If you think there’s any mileage in this approach and can’t see any obvious drawbacks then I might have a go at implementing t

[2020-02-06 18:29] nicklockwood commented on #23
I've considered this, and it wouldn't be hard to cache the BSP, but how much reuse would you actually get?

Suppose I subtract object A from object B and get object C. Now I want to subtract object D from the result.

I have BSPs for A and B cached, but that doesn't really help me. Under what circumstances would I want to reuse them?

[2020-02-06 18:33] nicklockwood commented on #23
Generating a BSP up-front is tricky because then you are making users pay the cost when they might not even be planning to use CSG.

[2020-02-06 18:36] nicklockwood commented on #23
The original JS library used BSPs *as* the Mesh, in much the way you suggest, and it's possible that in your specific scenario that would be an overall performance win.

The reason I moved away from this approach is that creating a BSP for a non-convex mesh involves splitting a bunch of polygons that don't actually intersect anything, they just happen to span the plane of one of the other polys.

[2020-02-06 18:38] nicklockwood commented on #23
This isn't really a problem for *convex* shapes since their polygon planes don't intersect any of their own polygons, but for that reason building the BSP for those shapes is already fairly cheap.

[2020-02-06 18:48] nicklockwood commented on #23
Storing the BSP as a lazy property of the Storage (rather than as the Storage itself) *might* potentially work. That way all the copies could share it once generated, even if that happened after they had been copied and transformed.

I think would require storing the transform inside the mesh and applying it lazily rather than immediately though, otherwise transformed meshes  couldn't actually sha

[2020-02-06 18:54] nicklockwood commented on #23
Another thought: If we could find a better solution for stitching polygons back together after splitting then that would mitigate some of the disadvantages of storing the mesh as a BSP.

Right now the stitching only works if the polygons share two vertices, but often there are cases where they only share edges, which is more expensive to detect and more complex to merge.

[2020-02-06 19:04] andygeers commented on #23
Thanks for the feedback. Re:your first question, I guess I was assuming that there might be some speed benefit in creating the resulting BSP if I had the originals to help me- but maybe that is a false assumption!

[2020-02-06 19:15] nicklockwood commented on #23
@andygeers I could be wrong, but my instinct is that merging one BSP into another is the same as merging in the equivalent number of polygons that aren't already in a BSP.

That said, I'm far from an expert on these matters.

[2020-02-06 22:41] andygeers commented on #19
I'm not sure if it's related, but I also got an assertion failure today: in Polygon.split, this block:

    if !verticesAreDegenerate(f) {
            front.append(Polygon(
                unchecked: f,
                plane: polygon.plane,
                isConvex: true,
                material: polygon.material,
                id: polygon.id
            ))
        }

`f` had 10 entries, and `v

[2020-02-06 22:42] andygeers commented on #19
(that was trying to do a union - there were probably some overlapping polygons in opposite directions or something like that)

[2020-02-07 08:03] andygeers commented on #23
Actually.... sorry! I just recompiled my app in Release mode rather than debug and rather than taking minutes it now takes seconds. Shall I close this?

[2020-02-07 14:01] nicklockwood commented on #23
@andygeers leave it open as a reminder - I think there could still be some opportunities for improvements in this area.

[2020-02-07 14:33] andygeers commented on #23
Re: generating the BSP up front - I'm not even sure it needs to be done *as soon as you initialise the mesh*. I load a particular "texture" (e.g. my wall mesh that you have seen) and then use that over and over again on each face of the building. For each face I just tile it a few times, then clip it by four planes (left and right bisectors with the neighbouring walls, and the top and the bottom).

[2020-02-09 08:14] andygeers commented on #19
Ongoing investigations from me into the `union` problem. I was seeing big gaps after a union operation:

![IMG_2246](https://user-images.githubusercontent.com/1673899/74098781-e5cb7700-4b13-11ea-9044-30f279dcef1c.PNG)

But as in previous demonstrations, they're not actually missing - they're just backwards. I made my material `doubleSided` and colour coded them in the `union` method to work out *w

[2020-02-09 18:13] andygeers commented on #19
Urg, my bad again - the window was *still* from my buggy model generator that meant it wasn't watertight.... The original issue demonstrated by my branch above is still there, but not what is shown in this recent screenshot

[2020-02-22 07:52] dharmeshrchauhan commented on #21
Looks like problem is there with union as well.
![Simulator Screen Shot - iPad Pro (9 7-inch) - 2020-02-22 at 13 12 45](https://user-images.githubusercontent.com/10988871/75088657-60fe4580-5576-11ea-9300-52c010da735f.png)

[2020-02-22 08:04] dharmeshrchauhan commented on #21
I am wondering how this problem can be diagnosed or narrowed down at code level. Which part of code should be tinkered.

[2020-03-13 17:28] andygeers commented on #23
So I've been thinking pretty hard about this... (getting to that stage of my project were improving the performance of all the CSG stuff is increasingly my main priority).

I think for my use case there *could* be some pretty massive wins here. I'm doing a lot of `union` operations, which essentially does this:

[code]

Now, in my case, `mesh` is lots of copies of an identical mesh just translated

[2020-03-14 17:15] andygeers commented on #23
Quick exploratory test (https://github.com/andygeers/Euclid/tree/cached-bsps) suggests that it can be up to 10 times quicker to translate/scale/rotate an existing BSP than to build a new one from scratch. A `merge` operation is easy to reuse the BSP then merge in the additional polygons - and again, quick tests suggest this *can* be considerably quicker than building a new one from scratch (exactl

[2020-03-17 21:39] nicklockwood commented on #23
Since the various CSG split operations can be performed independently per-polygon, it should be possible to apply them directly to a BSP rather than a flat array of polygons. Not sure about the peformance implications.

My concern about this approach (storing meshes in BSP form) is mainly the problem of generating many more polygons than needed. I'm still missing a good way to stitch polygons back

[2020-03-18 11:25] andygeers commented on #23
In some ways I don't much mind about the "way more polys than is desirable" issue - since I was just focussed on speeding up the CSG process, and that always involves creating a BSP anyway. So far the approach I've been testing still maintains the original array of polygons *AND* a cached BSP. Admittedly it would be more memory efficient if the BSP could become the "storage" - at which point you d

[2020-03-22 23:40] nicklockwood commented on #13
@nhevaweb I've added a new extrude method that takes two paths on the [develop](https://github.com/nicklockwood/Euclid/tree/develop) branch. Please try it out and let me know if it works for you.

[2020-03-26 22:48] nicklockwood commented on #21
@dharmeshrchauhan thanks so much for the detailed reproduction case, this has been a big help.

I haven't been able to solve the problem yet, but I believe I've narrowed it down to the `split(spanning: ...)` method in `Polyon.swift`.

Replacing the lines:

[code]

with:

[code]

seems to fix it (at least for the simplified case). Unfortunately I can't ship this fix because it breaks other cases, b

[2020-03-29 01:09] dharmeshrchauhan commented on #21
Thanks @nicklockwood,
Tried the changes you mentioned, it fixed the problem for both subtraction and union for the cases I mentioned here. However it didn't work for following case.
[code]

![Simulator Screen Shot - iPad Pro (9 7-inch) - 2020-03-29 at 06 24 47](https://user-images.githubusercontent.com/10988871/77837510-c2be5a80-7187-11ea-89bf-eea98856c265.png)
![Simulator Screen Shot - iPad Pro (

[2020-03-29 01:18] dharmeshrchauhan commented on #21
Curious to know what are the cases this change is breaking.
And what is PlaneComparison.spanning ?

[2020-04-09 12:14] nicklockwood commented on #23
@andygeers I think when I (eventually) get around to this refactor, I'd like to try and solve it properly, and maintaining two sets of polygons doesn't seem like the right direction to go, but I'll consider it if merging the BSP proves untenable.

ps. Thanks for the generous donation! And sorry again for the lack of updates, I hope to get back to this once work quiets down a bit.

[2020-04-11 08:11] andygeers commented on #19
So I suspect most of the issues I was struggling with in this thread are *still* due to my model - except that original issue you mentioned with `union` where perfectly overlapping polygons remain overlapping in the result. You suggested offsetting polygons by a small factor - I tried this but it's introducing other problems for me later down the line (I need to generate a 'contour' of the resulti

[2020-04-11 08:19] nicklockwood commented on #19
I think the problems with overlapping unions are mainly due to floating point precision - i.e. that surfaces which lie on the same plane are not actually the same due to rounding errors. I've tried to address this by adding rounding and tolerances. There might be some further opportunities to improve this, but I think in the end it will never produce a perfect solution.

I'm starting to think that

[2020-04-13 06:50] andygeers commented on #19
This PR seems to fix the union issue for me: https://github.com/nicklockwood/Euclid/pull/24

[2020-04-15 23:18] iwoj opened #25 "Can Paths be rendered in SceneKit?"
I'd like to be able to render Paths in SceneKit, but it seems like they're only used to create renderable Meshes.

They're not compatible with this SceneKit code:

[code]

How do I render Paths in SceneKit?

[2020-04-15 23:31] nicklockwood commented on #25
You can just use Euclid's `SCNGeometry` extensions:

[code]

[2020-04-15 23:36] nicklockwood commented on #21
@dharmeshrchauhan `PlaneComparison.spanning` is returned when one plane intersects another.

[2020-04-16 04:32] dharmeshrchauhan commented on #21
Thanks @nicklockwood,
Does it mean that .front and .back comparison result means Polygon is parallel to the plane?

[2020-04-16 06:24] nicklockwood commented on #21
@dharmeshrchauhan in this context it's a comparison between a polygon and a plane, so it's the latter.

Front means all vertices are in front of the plane, back means they're all behind, spanning means some are in front and some behind (i.e. the polygon will need to be split).

[2020-04-19 21:12] iwoj commented on #25
This works well. Thank you.

Now I'm having occasional issues with my `Path`s not passing `assert(sanitizePoints(points) == points)` Is there a way to turn off this assertion or modify Paths programatically to pass this test?

[2020-04-19 21:29] nicklockwood commented on #25
@iwoj if you build Euclid using Release mode instead of Debug then assertions are suppressed. Please share an example of such as path so I can debug.

[2020-04-19 21:42] iwoj commented on #25
Thanks. I'll try that.

Here's an example that isn't passing the assertion:

`points	[Euclid.PathPoint]	161 values
[0]	Euclid.PathPoint
position	Euclid.Vector
x	Double	-0.027501644890000003
y	Double	0.014155829890000001
z	Double	-0.06804437725000001
isCurved	Bool	true
_value	Builtin.Int1	1
[1]	Euclid.PathPoint
position	Euclid.Vector
x	Double	-0.027591855930000003
y	Double	0.014174967430000001
z	Do

[2020-04-19 22:12] iwoj opened #26 "Tilted Extrusion"
I don't understand why some extrusions are tilted.

My code:
`currentFreedrawStroke!.geometry = SCNGeometry(Mesh.extrude( Path.circle(radius: strokeTubeRadius, segments: 6), along: Path.curve(pathPoints, detail: 2)))`

The two resulting meshes: [DAE file](https://www.dropbox.com/s/kznxmi6v2r7fyhv/Gesture%20Export%2019.dae?dl=0)

How do I ensure the above circle is always extruded perpendicular to

[2020-04-20 16:33] andygeers commented on #23
As a simpler scenario than implementing all of this... Here's my current performance bottleneck: I take a wall mesh, and I clip it by four or more planes (currently all my walls are rectangular, so it's top, bottom, left and right planes - where left and right will not be parallel to each other because of bisecting between neighbouring walls, but in the near future my walls will not be rectangular

[2020-04-21 08:51] andygeers commented on #23
OK, so I did get it working using an `intersect` rather than clip by plane... Now I just need to progressively build up my BSP during the tiling process. Currently I merge each tile of the wall mesh, and at that point bounds.min.x of the next tile being merged equls bounds.max.x of the wall so far, so it's easy enough to identify this situation. I want to create a new BSPNode using the YZ plane be

[2020-04-24 15:45] iwoj commented on #26
@nicklockwood Any idea how I can fix this?

[2020-05-06 09:20] andygeers commented on #23
So a follow up on this after some more experimentation... I don't actually think there is much/any benefit to be had by progressively building the BSP as you go whilst doing successive merge operations. BUT I think there is significant benefit to be had by making a mesh's BSP something that can be cached after it has been generated a single time - if I rewrite my code to build one very large wall

[2020-05-06 09:34] nicklockwood commented on #23
@andygeers doesn't that have the problem (in the general case) that you'll be modifying the wal panel each time you intersect, so you'd need to recalculate the BSP?

In your particular case the meshes you are intersecting with the wall (doors, windows, etc) probably don't intersect *each other*, so you can use the same wall panel BSP to perform the intersection test with each of them, but I'm not

[2020-05-06 09:43] andygeers commented on #23
Hmm, yes you're right - I was just thinking about the simple 'create a blank wall' stage which I've been testing against (which is lots of merge operations to tile, then a single intersect operation to clip to a wedge shape), sort of forgot about all of those subsequent subtract and union operations to add all of the windows/doors/etc...

[2020-05-06 09:45] andygeers commented on #23
(but my point is that each subsequent wall could *start* with the same BSP, before that `intersect` operation clips it to a wedge)

[2020-05-15 21:01] iwoj opened #28 "Converting from closed Paths to [SCNVector3]"
Hey Nick.

I have to make an edit to get closed paths working for me. In my case I was trying to get the [SCNVector3] back out of the close Path and I needed to make this edit to get it to work:

https://github.com/iwoj/Euclid/commit/0d46eea1b43eaa2058fe029672cbad0fbd637bfc

I'm guessing this may break other stuff of yours so I'm not putting in a PR yet. Why do you filter out overlapping vertices?

[2020-05-19 06:34] nicklockwood commented on #28
@iwoj the purpose here is not to filter out overlapping vertices, it's to avoid redundancy in the mesh data. Meshes are defined as a set of vertices and a set of indices into those vertices. If multiple vertices have the same coordinate values, you can just duplicate the index instead of the whole vertex.

For example, to describe a quad you need two triangles. If you didn't do this deduplication,

[2020-05-19 06:41] nicklockwood commented on #28
@iwoj I think for the particular use-case of paths, this is probably not necessary since duplication will be minimal. I'd be curious why this is causing a bug though - do you have an example path that isn't rendering correctly with this logic in place?

[2020-05-23 01:50] nicklockwood commented on #28
Fixed in 0.3.4

[2020-05-23 01:50] #28 closed

[2020-05-23 01:51] nicklockwood commented on #26
Fixed in 0.3.4

[2020-05-23 01:51] #26 closed

[2020-05-23 01:53] nicklockwood commented on #1
Euclid now has the option to extrude a shape along a path, so you can achieve a similar effect to SCNLine by extruding a circle along your path.

[2020-05-23 01:53] #1 closed

[2020-05-23 17:20] nicklockwood commented on #28
@iwoj I think I may have misunderstood what you were trying to do. If you were using this method to build an array of SCNVector then that's not the correct way to do that. It will probably work the way you want in 0.3.4, but it will probably break it again in the future.

It's also not very efficient. The right way to get an array of SCNVector from a path would be to call the `edgeVertices` method

[2020-06-29 20:14] iwoj opened #32 "Non planar paths to Meshes"
Is there a way to turn non-planar paths into Meshes?

[2020-06-29 20:17] nicklockwood commented on #32
That depends what you mean. How would you want the path to be converted to a mesh?

[2020-06-29 20:43] iwoj commented on #32
I'm using `Mesh(Polygon(shape: Path(points))?.tessellate())` which works for any triangular polygon, and any path on xy, xz, zy planes (strangely not on arbitrarily oriented planes). However, I'd like to be able to draw more complex non-planar paths and have some way of tessellating a best guess of what the mesh should be. I don't really care what scheme it uses, I just want to resolve to some kin

[2020-06-29 21:01] nicklockwood commented on #32
Hmm, I think the code needed to do this is all there, but probably not exposed in any public API. You might need to add a version of tesselate that operates directly on a path instead of a Polygon, or add a Polygon constructor that doesn't check the points are planar.

[2020-07-27 08:38] netgfx opened #33 "Documentation?"
Hello, is there a documentation page to show the properties and syntax to create geometries etc?

[2020-07-27 15:55] nicklockwood commented on #33
@netgfx this is covered briefly in the README file, e.g. the names of all the classes and methods. I haven't had time to fully document everything with examples yet, but hopefully the usage should be clear from the sample project and header documentation.

[2020-11-20 16:53] iwoj opened #34 "Encoding/Decoding"
It looks like this library doesn’t support serialization/deserialization. How difficult would that be to add?

[2020-11-20 20:46] nicklockwood commented on #34
You're right - this is something that should be supported. I'll look at adding it.

[2020-11-20 20:50] iwoj commented on #34
How can I help?

[2020-11-20 23:38] nicklockwood commented on #34
@iwoj I've made a start on it, and pushed a partial implementation to the [develop](https://github.com/nicklockwood/Euclid/tree/develop) branch. Let me know if that's what you were looking for.

[2020-11-20 23:42] iwoj commented on #34
Excellent. Thank you. Although, the develop branch says the last commit was 9 days ago. Could you try pushing again?

[2020-11-21 08:44] nicklockwood commented on #34
@iwoj sorry about that - not sure what happened. Try it now.

[2020-11-21 22:06] jkalias opened #35 "Increase type safety for angle-related API"
The current API relies heavily on the use of ```Double``` for angles. Even though the argument label is explicit (eg. radians), there is no type safety enforced by the compiler.

There exists already a type safe ```Angle``` implementation, however it is defined in SwiftUI (https://developer.apple.com/documentation/swiftui/angle) and therefor not suitable for this project.

I’d love to update the a

[2020-11-21 22:09] nicklockwood commented on #35
@jkalias interesting idea. UnitAngle is a class rather than a value type though, which makes it slightly unappealing for high-performance use.

Perhaps I could introduce an Angle struct similar to SwiftUI's, with some bridging to UnitAngle.

[2020-11-21 22:20] jkalias commented on #35
That was exactly my guess regarding the high performance requirements. I totally agree about the custom Angle struct.

I’d love to help if you feel like it.

[2020-11-21 22:25] nicklockwood commented on #35
@jkalias sure, if you'd like to make a PR that would be great.

[2020-11-22 12:00] nicklockwood commented on #34
@iwoj this has landed in 0.3.6 - let me know if you have any issues.

[2020-11-22 12:00] #34 closed

[2020-11-22 18:18] iwoj commented on #34
Thanks for adding this. Much appreciated. I will test over the next few days.

[2020-11-23 13:43] jkalias opened #37 "Improve semantics for Vector"
The struct ```Vector``` is used to define multiple entities (vertex, vector and direction), all of which have 3 coordinates (```x```, ```y``` and ```z```). Admittedly there are commonalities among these entities, however the API does not follow the semantics of rigorous mathematical definition.

In detail, the following mathematically illegal operations are allowed, since all of them are based on

[2020-11-23 13:48] nicklockwood commented on #37
@jkalias I did consider this (there's precedent in Apple's own APIs, e.g. with CGSize vs CGPoint). My main concern was that this would lead to a significant amount of code duplication between the different vector types and operations.

I'm also not sure about the naming - while I'm sure it's appropriate mathematically it's a bit verbose for types that are used for frequently. Maybe `Position`, `Di

[2020-11-23 13:58] jkalias commented on #37
@nicklockwood Thanks for the prompt reply. Once I finish the remaining work for the Angle PR, I'll start with this.

Regarding the naming, my thought was to make it explicit what the type is all about. I guess we can discuss about this once this is finished.

[2020-11-26 16:42] nicklockwood commented on #35
Merged in develop.

[2020-11-26 16:42] #35 closed

[2020-12-06 17:31] jkalias commented on #37
Hi @nicklockwood,

I know the vector semantics PR is still open, but I have a working prototype for the generalized 3D geometry operations of line and plane based on this work (```Line_```, ```Plane_``` and ```LineSegment_``` in my branch [https://github.com/jkalias/Euclid/tree/line-plane/Sources](line-plane)).

I'm not sure this belongs here or if it is at all relevant (new issue or PR?). Perhaps

[2020-12-08 11:44] gag commented on #21
@nicklockwood, is there any update on this problem? I've also seems to encountered it.

[2021-04-16 08:27] CaptainRedmuff opened #42 "Error decoding Rotation created with pitch, yaw and roll"
I am creating rotations using the `pitch: yaw: roll:` initialiser as below but when decoding these an error is thrown when checking the `isRotationMatrix` property during initialisation.

The following test recreates the failing use case:

[code]

[2021-04-16 10:14] nicklockwood commented on #42
This seems to not be an encoding problem, but rather a bug in the `isRotationMatrix` check. I'm not sure what's happening there - I'll investigate further.

[2021-04-16 18:38] nicklockwood commented on #42
@CaptainRedmuff fixed in 0.4.2

[2021-04-16 18:38] #42 closed

[2021-04-27 23:05] nicklockwood commented on #21
@dharmeshrchauhan I'm happy to report this bug is (finally) fixed in 0.4.4!

[2021-04-27 23:05] #21 closed

[2021-06-06 22:49] gin66 opened #45 "Two objects in one mesh"
Hello,

thanks for the great library and for sharing.

Currently I use your library for an App, which let javascript code drive Euclid to design 3d geometries. This approach is inspired by openscad and similar to your ShapeScript. An initial prototype looks promising. Now I have encountered a phenomenon, for which I am not sure, how to deal with it. I am using this javascript code, which could be

[2021-06-07 08:32] nicklockwood commented on #45
Hi, this sounds like a cool project!

The result looks correct to me - you've subtracted a tall, narrow cyclinder from the cube, resulting in a circular hole, then subtracted a flat, wide cyclinder perpendicular to that, which cuts out a section of the resulting shape. You can maybe visualize this more easily by using merge instead of subtract to show all the shapes involved.

What were you expect

[2021-06-07 17:40] gin66 commented on #45
Hello, thanks for the feedback. I am actually coming from FreeCAD. AFAIK, FreeCAD has the concept of a Body, which does not allow separated elements after a csg operation. The result provided by Euclid is, what I would expect logically. If this can be then exported to obj/stl and is a valid file, I have not tried, but have doubts. And what a slicer for 3d printing would make out of it, the same. A

[2021-06-07 19:14] nicklockwood commented on #45
What would it do to prevent this? Return two separate objects?

This is part of why I wrote my own language/parser for ShapeScript. If you know much about parsers, it wouldn't be hard to make a simple JavaScript interpreter using the same principles (ShapeScript is open source if you want to take a look).

[2021-06-08 14:29] gin66 commented on #45
No, it fails

Actually the lua integration works well (rudimentary) and better than javascript. In the moment I keep both. Support of ShapeScript or Openscad would be possible, but the required effort prevents it. Main reason, why I use an existing solution, because I don’t want to debug an own parser.

For the separation: I understand a polygon consist of vertices. And a vertex is the connection

[2021-06-08 14:56] nicklockwood commented on #45
Vertex positions are in absolute coordinates, and vertices are always stored in anticlockwise order, so there's no need to define a vector between two vertices because it's implicit (you can subtract the vertex position from that of it's neighbour to get the separation between them).

The `normal` value represents the surface normal for that vertex. This is mainly for the purposes of lighting, so

[2021-06-08 16:51] gin66 commented on #45
Thanks for the feedback. I would assume, that the algorithm is O(n). The build up of the maps is linearly depending on the polygons. And removing the polygons from the table looks to me being linear, too.

For the vertex still not clear. So the vertex is actually a mesh point ?

[2021-06-08 17:18] nicklockwood commented on #45
Ah, I misunderstood. You intend to build the vertex-polygon maps first and then find the connections, rather than finding the connections as you construct the map. In that case I believe you're correct.

[2021-06-10 21:48] gin66 commented on #45
In the meantime, I understand, that vertex is a point. I have mixed it up with an edge.

I have not yet started, but I plan to not make a map of vertices but a map of edges and in addition count the number of occurrences. If there is an edge with an odd number of occurrences, then I assume, a mesh error has been detected.

What I am now wondering, if a hash of a vertex/edge with floating point val

[2021-06-11 08:44] nicklockwood commented on #45
This would be very useful. Currently I don't have functions for detecting whether a mesh is sealed, and boolean operations on unsealed meshes result in garbage output.

Note however that this is a harder problem than you think, because polygon edges do not always meet at a vertex. This scenario is possible after a CSG operation, and is not treated as an invalid mesh (although some programs won't a

[2021-06-12 22:22] gin66 commented on #45
First implementation with a handful of test cases is ok with individual mesh and union of two. But mesh as result of CSG subtract fails - as you have predicted...

Will see into this later

[2021-06-12 22:32] gin66 commented on #45
Actually for a polygon all combinations of vertices are used as an edge. Guess this is wrong.

Are the vertices in the list of a polygon only connected with their neighbors ?

[2021-06-12 22:37] gin66 commented on #45
You have answered already:

So already one bug identified to fix….

BTW: How to derive from a bunch of polygons a mesh again ?

[2021-06-13 07:06] gin66 commented on #45
apparently just `let m = Mesh(polygons)`

[2021-06-13 07:55] gin66 opened #46 "Assertion"
While performing `text("Hello World!")` the code hits the assertion in `Paths.swift`:
[code]

Triggering character is "!".

BTW: Running on iOS

[2021-06-13 08:16] gin66 opened #47 "Running on github actions triggers a failed test case"
I have set up github actions on my repository. Needs only a couple of clicks in github, which is quite convenient. Interestingly, one test [fails](https://github.com/gin66/Euclid/runs/2811353743?check_suite_focus=true#step:4:292)

[2021-06-13 08:17] gin66 commented on #47
my own test case fails…

[2021-06-13 08:17] #47 closed

[2021-06-13 09:53] gin66 commented on #45
Have now an improved version, which works with cube separated in four pieces, but fails with a round hole in a cube.

BTW: I remember, that a CSG subtract mixes materials. If a cube is material a and the hole is made from material b, then the result consists of material a at the outside and the hole is made of material b. I would have expected, that the inner hole is from material a, because the s

[2021-06-13 10:54] nicklockwood commented on #45
It helps to think in terms of surfaces, not solids. When you subtract the cylinder, the surface of the resulting hole is formed from the cylinder, so it retains the material of the cylinder.

It wouldn't be hard to make the hole geometry take on the color on the cube if desired, but if you consider materials like a texture image and its associated texture coordinates, that would be much harder. Yo

[2021-06-13 11:58] gin66 commented on #45
This means, the mesh has no defining material out of which new polygons can be created. But the cutting object has eventually a material property for each face being cut out. Clear. Thanks for explanation

[2021-06-13 18:40] gin66 commented on #46
Failed test case is here for [reference](https://github.com/gin66/Euclid/tree/textAssert)

[2021-06-15 09:02] chellem opened #48 "Can it manipulate 3d object imported from blender or any other 3d software?"
Hello,

I've been trying to manipulate a 3D converted from blender (.obj).  I could not get the subtract method to work.

[code]

Can you help me with this ?

Am not seeing any change in the initial node.  What am doing wrong here?

[2021-06-15 14:49] nicklockwood commented on #48
It's difficult to diagnose without seeing the model. Is it possible the cube is small enough to be entirely contained by the blender object, or that they do not intersect.

If you use `mesh.merge()` instead of subtract, and then display the result, do you see the two objects intersecting?

[2021-06-15 16:56] chellem commented on #48
@nicklockwood

I'll give a try with the `merge` and let you know.

How can I know if they not intersecting ? Is there any way of knowing the vertices? (am a bit new to it)

When doing a `union` of the two, I get the my blender model and a white space beneath it.

[2021-06-15 20:46] nicklockwood commented on #48
I just mean visually inspect them in an SCNView and see if they occupy the same space.

[2021-06-15 20:48] nicklockwood commented on #48
That's odd. Can you share your blender model? Is it possible that it's not a closed surface? i.e it has holes in it?

[2021-06-16 04:11] chellem commented on #48
Yes, it has holes with it.  I have actually [downloaded the model](https://sketchfab.com/3d-models/t-shirt-00daf5abf6d44db9a310b8264ad0e834), please make a test with it.

Let me know how can I use it with open surface.

My aim is to subtract a cube from it at a specific position (vertices).

[2021-06-17 11:16] chellem commented on #33
+1

[2021-06-17 11:19] chellem opened #49 "Create custom 3d"
Can you please provide an example of this please ?

Am not seeing anything when trying to do this.

[2021-06-17 11:20] nicklockwood commented on #49
@chellem can you post an example of what you've tried?

[2021-06-17 11:25] chellem commented on #49
I have something like this.  Am sure that polygons and scene are not empty

[code]

@nicklockwood you've completed ignored my other issue. (Big thanks for the support )

[2021-06-17 11:29] nicklockwood commented on #49
I didn't realize you were the same user since you opened a new ticket. I'm not sure the sarcasm was called for.

[2021-06-17 11:35] chellem commented on #49
@nicklockwood can you help ?

[2021-06-17 12:28] nicklockwood commented on #48
@chellem based on the example I posted in your other ticket, this code seems to work if you plug it into the Example project that ships with Euclid. The T-shirt model has a rather weird default size and position so I had to translate and scale it to get it to align with the cube, which might be why you had issues before.

[code]

![Simulator Screen Shot](https://user-images.githubusercontent.com/5

[2021-06-19 17:44] mgrider opened #50 "Crash in Mesh.subtract"
Here's what I'm trying to do: Use Euclid in a ARKit app.

Here's what I did:

1. Create a new “Augmented Reality” project in Xcode. (12.5.)
    1. You’ll need to select `SceneKit` in the “Content Technology” dropdown.
2. Add the Euclid as a Swift Package Manager dependency.
    1. Go to: `File > Swift Packages > Add Package Dependency`
    2. Add `https://github.com/nicklockwood/ShapeScript.git`
3

[2021-06-20 09:21] nicklockwood commented on #50
@mgrider hi, just to let you know I was able to recreate the crash (only on device, not on the simulator). I've no idea yet what's causing it.

[2021-06-20 09:34] nicklockwood commented on #50
@mgrider reducing the number of slices down from 120 to 110 fixes the problem, so I strongly suspect it's a stack overflow.

[2021-06-20 09:44] nicklockwood commented on #50
@mgrider CSG operations are highly recursive, so they can cause the stack to overflow if you have very complex meshes. You can solve this one of two ways, either reduce the mesh complexity, or increase the stack size.

You can increase the stack size by creating a new `Thread` and then setting the desired size, as follows:

[code]

[2021-06-21 15:49] chellem commented on #48
@nicklockwood Thank you.  This has helped me very much.

[2021-06-21 15:49] #48 closed

[2021-06-21 15:49] #49 closed

[2021-06-22 11:59] CaptainRedmuff opened #51 "Apply texture coordinates to Path"
Hi @nicklockwood,

Just wondering if there is a supported means to apply texture coordinates to a `Path` and its `PathPoint`s?

Looking at the implementation details, it appears as though the uvs are calculated from a flattening plane when creating the vertices for a `Path`. I can not see a way to supply these manually for each vertex.

I have a textured surface `Mesh` that I want to loft into a s

[2021-06-22 12:34] nicklockwood commented on #51
@CaptainRedmuff this isn't possible currently, but it wouldn't be hard to add. Could you perhaps write out the pseudocode for what you want to do and I'll extend the API to support it?

[2021-06-22 14:08] CaptainRedmuff commented on #51
Thanks for your response, @nicklockwood.

Some background context:

I am creating surface meshes that I want to stretch out into a closed shape. I have tried to do this by pushing a polygon away from itself along the face normal, reversing the winding order of the vertices and then stitching together each "edge". This does work but it is a little cumbersome as not all shapes I have made thus far f

[2021-06-23 09:48] nicklockwood commented on #51
Thanks for the explanation.

It's easy enough for me to preserve the UV coordinates for the face polygons, but I also don't see any obvious way to extrapolate the UVs for the edge polygons when performing the extrude operation.

Simply preserving the UV values wouldn't work, as the result would just be a smear of the face texture. I could do something like offsetting the V value by the extrusion d

[2021-06-23 10:30] CaptainRedmuff commented on #51
Preserving the face uvs and either smearing the edges or the default cylindrical wrap would be sufficient for my needs at this time 👍

[2021-06-23 13:28] nicklockwood commented on #51
@CaptainRedmuff I've pushed an implementation to the [develop branch](https://github.com/nicklockwood/Euclid/tree/develop) which I think will do what you want. It includes a new `texcoord` property for `PathPoint`, and also a new `Path(polygon:)` initializer that preserves the texture coordinates of the polygon.

Try it and let me know if it solves your issue.

[2021-06-24 12:00] CaptainRedmuff commented on #51
I have amended my implementation to generate a single closed path but this does not appear to be working as the initialiser for the `Polygon` is failing.

Adding a breakpoint at [this guard](https://github.com/nicklockwood/Euclid/blob/712b80df21ff21b4d156dbe2ca80d4c50564fbf0/Sources/Paths.swift#L402) I can see that the [guard inside](https://github.com/nicklockwood/Euclid/blob/712b80df21ff21b4d156

[2021-06-24 12:10] nicklockwood commented on #51
@CaptainRedmuff polygons have to be planar, but paths don't. I guess you'll just need to construct the path directly rather than via the Polygon initializer.

Another problem is that while extruding a non-planar path should work OK, filling it won't. You'll probably need to construct the shape by extruding the path and then merging the polygons for the end caps separately (in which case there was

[2021-06-24 12:46] CaptainRedmuff commented on #51
Ahhh, of course! Apologies, I had a senior moment there and did not put two and two together for the polygons being planar.

I did create the path directly with the `Path(_ points:)` initialiser rather than the `Polygon` initialiser but both of these yield the same result, obviously :D

        //shape is a tuple with arrays of vectors for each "side" and the centre curve of the shape
        let

[2021-06-24 12:54] nicklockwood commented on #51
In principle there's no reason why it shouldn't be possible to convert a non-planar shape to an array of polygons. I'll see how feasible that is.

[2021-06-25 06:42] chellem opened #52 "Prevent material from repeating in stencil"
Hello @nicklockwood ,

I've been trying to use the `stencil` method which works fine except the material keeps on repeating while when seeing the material on the cube, I have one diagram per each side.

Can you help me with this?

[2021-06-25 07:03] nicklockwood commented on #52
@chellem can you post a screenshot so I can better understand the issue?

[2021-06-26 07:50] nicklockwood commented on #50
@mgrider I've pushed a new version of Euclid (0.4.5) that changes the CSG implementation so these stack overflows won't occur. That means you'll no longer need to increase the thread stack size.

[2021-06-26 07:50] #50 closed

[2021-06-26 10:56] nicklockwood commented on #48
@chellem FYI I've just released version 0.4.5 that adds a new `init(url:)`method for Mesh that loads a file directly, so you can cut down some of this boilerplate.

[2021-06-26 16:03] nicklockwood commented on #46
@gin66 fixed in 0.4.5

[2021-06-26 16:04] #46 closed

[2021-06-26 16:06] mgrider commented on #50
That's awesome, thank you so much! This project is fantastic, btw. I don't really think I'm going to have time to build it, but my idea was an AR enabled 3D modeling program so you can position the geometry over the thing you are trying to model. Just adding and subtracting primitives would be pretty huge, I think. Another cool use case would be to clean up meshes created by 3D scanning with Lidar

[2021-06-26 17:21] nicklockwood commented on #50
@mgrider sounds like a cool idea, hopefully you get a chance to work on it 👍

[2021-06-28 06:44] chellem commented on #52
@nicklockwood ,
I been able to make a stencil on my model but when trying to change its position, am getting repeats.

![IMG_0027](https://user-images.githubusercontent.com/570856/123591904-9e738280-d7fd-11eb-8bb7-dcafa899a696.jpg)
![IMG_A29993C1AC61-1 3](https://user-images.githubusercontent.com/570856/123591916-a29fa000-d7fd-11eb-84c8-17d9cf53682a.jpeg)

[2021-06-28 08:33] nicklockwood commented on #52
@chellem that's very curious. Can you share your project? (send it to support@charcoaldesign.co.uk). I'll see if I can work out what's happening.

[2021-06-28 10:15] chellem commented on #52
@nicklockwood, the project is quite big.

The part that am struggling is within the following lines:

[code]

Am trying to play with the material properties.  Change the diffuse wrap to .clamp, . mirror, .clampToBorder didn't help much.
I also tries to play with the contentsTransform to get only one image per side, partial image always appears in some cases.

[2021-06-28 10:19] chellem commented on #52
I have tried with 2 cases.  One is the stencil one (above) and the other is with a combination of `subtract` and `intersect`, while constructing a cube to place it into the subtract areas.

In both cases, am getting the material applied to the cube only to continue onto the other model and thus having the repeating pattern.

[2021-06-28 11:09] nicklockwood commented on #52
@chellem I think the repetition is happening because of the contentsTransform that you're applying (you can verify this by just rendering the cube on its own without the T-shirt).

If you just apply the texture directly to the cube without contentsTransform it shouldn't wrap. To reposition the texture on the T-shirt, you can then resize and reposition the cube itself.

[2021-06-28 12:38] chellem commented on #52
Well, when viewing it with merge, it seems to be good but once I replace it with stencil, it repeats

![image](https://user-images.githubusercontent.com/570856/123637433-127a4e80-d82f-11eb-99a4-a9f969310d3d.png)

[2021-06-28 12:49] nicklockwood commented on #52
Instead of a cube, what if you use an extruded rectangle instead? like this:

[code]

This should ensure only the front face is textured.

[2021-06-28 13:01] nicklockwood commented on #52
On second thought, I'm not sure this can work actually. Stencil only takes the shape and material of the object, not texture coordinates. I'm not sure it can be used this way since the texture has a transparent background it will just make a cube-shaped hole with the logo floating inside it.

[2021-06-28 13:05] nicklockwood commented on #52
Is there some way you can get the adidas logo as a vector shape, and then extrude that and use it as a stencil? That will work much better for this than a textured cube.

[2021-06-29 04:24] chellem commented on #52
@nicklockwood, can you please give me some code example about what you mean above ?

[2021-06-29 04:40] chellem commented on #52
@nicklockwood

[code]

Why does the cube don't follow the material diffuse wrap property ?

I get it as repeated in every case. (`clamp`, `clampToBorder`, `mirror`)

[2021-06-29 05:14] chellem commented on #52
You mean like use a SCNPlane, putting the image in it and then do the stencil ?

[2021-06-29 08:04] nicklockwood commented on #52
No. I mean get something like an SVG copy of the logo, create a CGPath from that, create a ShapeScript path from that, and then extrude it, with a plain black material, and use that for the stencil.

[2021-06-29 08:05] nicklockwood commented on #52
Alternatively, if you just want to apply the texture, you might be better off doing that in 2D, by using CoreGraphics to draw the logo onto the shirt texture before it is applied to the shirt model.

[2021-06-29 09:49] chellem commented on #52
If I draw the logo on the texture, I will not be repeated again ?

[2021-06-29 10:01] nicklockwood commented on #52
It depends on how the T-shirt texture is mapped onto the T-shirt model, but as long as the T-shirt texture doesn't repeat, the logo won't either.

[2021-06-29 10:07] chellem commented on #52
Am giving a try to the first approach.  I got the CGPath from a SVG.  Now how to create that shapescript and proceed further ?

[2021-06-29 10:56] chellem commented on #52
Hi @nicklockwood, can you give me you contact details like email, skype or anything as such so that we can further talk about what I want to do ?

[2021-06-29 11:45] nicklockwood commented on #52
@chellem you can use the support@charcoaldesign.co.uk address I posted earlier.

[2021-06-29 11:48] nicklockwood commented on #52
You can convert the SVG to a 3D shape as follows:

[code]

Then use stencil to "draw" the shape on the T-shirt, as you were trying to do with the cube before.

[2021-06-29 22:05] iwoj opened #53 "RealityKit Support"
RealityKit does not use SceneKit (while ARKit does). It would be great to add support for RealityKit in Euclid now that ModelEntities can be dynamically modified.

See 21:40 in https://developer.apple.com/videos/play/wwdc2021/10075/

[2021-06-29 22:16] nicklockwood commented on #53
Yes, I was thinking the same thing. I'll look into it.

[2021-07-06 20:10] iwoj opened #54 "Turning off assertions"
I'm having trouble debugging my code because Euclid runs its assertions when I use a Debug scheme configuration. Is there a way to suppress these without using a Release configuration?

[2021-07-06 20:13] nicklockwood commented on #54
@iwoj the simplest thing would be to comment out or delete the assertions.

But Euclid isn't supposed to assert with valid data, so if you can tell me how to reproduce the assertions you're hitting, I'll try to fix them.

[2021-07-06 20:58] iwoj commented on #54
I’m trying to import a mesh from an STL file and I hit an assertion that the mesh must be convex.

Here’s the file.

https://www.dropbox.com/s/uwjynw7u9wdon2c/fox2.stl?dl=0

________________________
Ian Wojtowicz
Graphite Design Labs
graphitedesignlabs.com
Makers of graphite.ar
Toll free: +1 877 266 2998

[2021-07-07 09:26] nicklockwood commented on #54
@iwoj I'm not hitting this assertion when I try it. Can you share the code you are using to load the STL file?

[2021-07-09 19:10] iwoj commented on #54
Looks like it happens when I try to run `mesh.detesselate()` on the imported mesh.

[2021-07-09 20:02] nicklockwood commented on #54
@iwoj can you try with the latest develop branch? I'm not seeing an assertion.

[2021-07-12 23:20] nicklockwood commented on #51
@CaptainRedmuff this is now implemented in version 0.5.0. Let me know if you need anything else.

[2021-07-12 23:20] #51 closed

[2021-07-12 23:21] nicklockwood commented on #32
@iwoj this is now implemented in version 0.5.0.

[2021-07-12 23:21] #32 closed

[2021-07-12 23:21] #54 closed

[2021-07-12 23:22] #52 closed

[2021-07-12 23:22] #13 closed

[2021-07-20 07:30] CaptainRedmuff opened #55 "LineSegment assertions during degenerate vertices checks"
Since updating to `0.5.0` I am seeing a lot of errors when attempting to merge two meshes together with `Mesh.union`. In particular, `pointsAreSelfIntersecting` is failing due to the [assertion](https://github.com/nicklockwood/Euclid/blob/e1debab062e3ddf081ef3372923ee1f1dd7d0011/Sources/LineSegment.swift#L63) in the `LineSegment` initialiser.

I have some fairly complex meshes with vertices that a

[2021-07-20 11:43] nicklockwood commented on #55
@CaptainRedmuff sorry about that. Can you share some sample code/meshes that demonstrate the problem? It might just be a matter of fine-tuning the tolerances.

[2021-07-20 14:01] CaptainRedmuff commented on #55
I am unable to provide a concrete example at the moment but I have [encoded a mesh](https://gist.github.com/CaptainRedmuff/92db518c6ce527b35d31ceb090797f84) that will hopefully help reproduce the problem.

My implementation is something along the lines of;

    var mesh = Mesh([]) //start with empty mesh

    //create foliage
    for number of fronds in canopy {

      let frond = Frond(position,

[2021-07-23 07:57] CaptainRedmuff opened #56 "Overlapping geometry and inconsistent results when subtracting meshes"
I am frequently seeing inconsistent results when performing mesh operations. Specifically `subtract` in this instance but I have also encountered several "holes" popping up when merging meshes with `union`.

Below is a screenshot showing the missing polygons (giant hole on the left) and also two instances of overlapping geometry (circled) after a subtraction operation.

![seams](https://user-image

[2021-07-24 07:56] nicklockwood commented on #55
@CaptainRedmuff I tried loading your encoded mesh and merging your leaves together, but I wasn't able to trigger any assertions. I'm not sure if I'm merging them the way you meant (see screenshot).

I've pushed my test code to [this branch](https://github.com/nicklockwood/Euclid/tree/line-segment-assertion-test) - maybe you can take a look and modify it to try to recreate the error?

<img width="3

[2021-07-24 08:00] nicklockwood commented on #56
@CaptainRedmuff that's interesting. There is an element of randomness to the BSP generation, but it's seeded and should be consistent every time it runs for the same set of geometry. I may have inadvertently used an unordered Set or something in the process that causes non-deterministic behavior.

Again, it would be very helpful if you could supply a sample project, or at least some saved geometry

[2021-07-24 10:22] CaptainRedmuff commented on #55
@nicklockwood It looks like the mesh is rotated incorrectly in this test.

The fronds should be joined at the thinnest part of the mesh as in this screenshot (using Euclid `0.4.0`)

<img width="332" alt="Screenshot 2021-07-24 at 11 01 01" src="https://user-images.githubusercontent.com/197710/126865444-6c7913e5-9d23-4913-add6-1e34dc44dfc8.png">

I have added a gist with the [trunk and fronds](https

[2021-07-24 10:59] CaptainRedmuff commented on #56
@nicklockwood Many thanks for your response and looking into this.

Hopefully you should be able to recreate this using [these meshes](https://gist.github.com/CaptainRedmuff/619e9213d1a9f4808e6342a5e85ef05e) by subtracting the inner mesh from the outer mesh.

I have not been able to find a means to consistently reproduce the holes appearing when performing a `union` but perhaps this might be due t

[2021-07-24 23:02] nicklockwood commented on #56
@CaptainRedmuff I believe I've worked out what's causing the disappearing polygons in your mesh. The inner and outer meshes that you provided are not [watertight](https://davidstutz.de/a-formal-definition-of-watertight-meshes/) - the polygons do not meet at their edges, but are overlapping.

I extracted the polygon data for a single face of the shape and rendered it with different colors applied t

[2021-07-24 23:05] nicklockwood commented on #55
@CaptainRedmuff I've still not been able to trigger any assertions not matter how I try to combine the meshes you sent. Perhaps the serialization process is somehow correcting the issues in the mesh that lead to the assertions?

[2021-07-25 11:00] CaptainRedmuff commented on #56
@nicklockwood Oh dear. I feel like a complete idiot 😰

These meshes were not generated using Euclid components. I am stitching together the polygons programatically based on [Pentomino](https://en.wikipedia.org/wiki/Pentomino) meshes and had incorrectly projected the outer vertices of each tile into its neighbour.

Apologies for wasting your time on essentially debugging a problem in my own mesh g

[2021-07-25 11:00] #56 closed

[2021-07-25 14:08] nicklockwood commented on #56
@CaptainRedmuff no problem - I'd like to try and make the error detection and correction more robust anyway, so this was a good test case 👍

[2021-07-26 07:16] CaptainRedmuff commented on #55
@nicklockwood This took me a little longer to abstract out of my project but I have managed to reproduce the issue and [raised a PR](https://github.com/nicklockwood/Euclid/pull/58).

I really hope this is not another case of invalid mesh generation on my behalf again 😅 Let me know if there is anything further I can do to assist.

[2021-07-26 20:54] nicklockwood commented on #55
@CaptainRedmuff OK, well I've worked out both why the assertion is happening and (more worryingly for me) why it only happens occasionally.

The assertion was due to a mismatch in the way `LineSegment` checked for equality between the start and end points - in one case it checked for exact equality, but in the assertion it checked for approximate equality. I've pushed a fix for this to the develop

[2021-07-26 21:02] nicklockwood commented on #55
I've pushed a DeterministicRNG implementation to the line-segment-assertion-test branch.

[2021-07-27 11:49] CaptainRedmuff commented on #55
@nicklockwood Some great sleuthing there in working out where the problem lies. However, I am still seeing some assertions firing with this fix.

`shortestLineBetween` sometimes fails on either of its two assertions. It took a few runs to catch this in the example app but it is still prevalent even with your RNG changes.

I have [made a PR](https://github.com/nicklockwood/Euclid/pull/59) with more

[2021-07-27 19:19] nicklockwood commented on #55
@CaptainRedmuff OK, I've fixed the assertion on the develop branch.

[2021-07-28 07:16] CaptainRedmuff commented on #55
@nicklockwood Top notch. I can confirm that I am no longer seeing any problematic assertions with this fix 👍

[2021-07-28 08:29] nicklockwood commented on #55
Great! The changes are included in 0.5.2.

[2021-07-28 08:29] #55 closed

[2021-07-30 12:58] chellem opened #60 "Recommendation to make stencil work faster"
Hello @nicklockwood,

I've been using the `stencil` method, but seen a little slowness in it.

Can you help me with it ?

[2021-07-30 13:03] nicklockwood commented on #60
@chellem sure, can you share the code you are using?

[2021-07-30 13:04] nicklockwood commented on #60
@chellem also, are you testing with -O (optimize for speed), because Euclid is much slower in debug mode.

[2021-08-02 07:33] zilmarinen opened #62 "Add Color component to Vertex"
@nicklockwood I was curious as to how feasible it would be to add a color component to the `Vertex` to allow for per vertex colors so I have made a [PR](https://github.com/nicklockwood/Euclid/pull/61) that is a WIP to add this functionality.

I think the concerns here are mainly how to maintain backward compatibility whilst changing the `Vertex` decoding/encoding where both texture coordinates and

[2021-08-02 08:44] nicklockwood commented on #62
@CaptainRedmuff this looks like a great addition, thanks! I think your solution to the optional vertex/color problem makes sense.

Just a couple of points:

1) I already have a Color struct in https://github.com/nicklockwood/ShapeScript, so it probably makes sense to port that over to Euclid rather than introducing a slightly different one.

2) Would you mind installing SwiftFormat (`brew install

[2021-08-02 09:04] chellem commented on #60
hi @nicklockwood,

I don't have any -O passed.

The code am using is as follows:

[code]

[2021-08-02 09:21] chellem commented on #60
@nicklockwood, why stencil an image on my model give me something like that.  How to avoid it ?

![image](https://user-images.githubusercontent.com/570856/127837375-c3060402-65c1-4311-84e0-e1bc55432a08.png)

[2021-08-02 09:27] nicklockwood commented on #60
@chellem for the performance issue, I believe this is due to testing in debug mode. I think it will be fine if you run in release mode, but you can test this bey ensuring the Euclid target is using -O for optimization level in the build settings.

[2021-08-02 09:29] nicklockwood commented on #60
@chellem for the stencil issue, it looks like you are still trying to apply the texture from your cube to the T-shirt model. This isn't the intended purpose of stencil - it is for use with vector shapes made from a CGPath and not textured shapes.

[2021-08-02 09:32] chellem commented on #60
OK got it, then how can I accomplish this result without stencil ?

[2021-08-02 09:36] nicklockwood commented on #60
@chellem Euclid doesn't currently have a feature for doing this. The best option is to compose your texture in 2D instead using CoreGraphics.

Basically, take the existing T-shirt texture image, draw the logo into it in 2D using CGContext, then replace the texture.

[2021-08-03 08:41] Heinevolder opened #63 "Cube - width, height and lenght"
Hi!

Thanks for a wonderful library

I'm having some trouble creating a cuboid with a specified width, depth, and height.
In the readme, you mention that it should be possible to generate a cuboid with different values for width, height, and/or depth.

am I missing how this is done?

Thanks again!

[2021-08-03 08:54] nicklockwood commented on #63
@Heinevolder

[code]

[2021-08-03 08:56] Heinevolder commented on #63
Oh - my bad!

IDE didn't show the initializer with size as a vector for some reason.

[2021-08-03 08:58] nicklockwood commented on #63
@Heinevolder it's overloaded with another version that takes a `Double` for size, so that's probably why.

[2021-08-03 09:14] #63 closed

[2021-08-09 08:43] nicklockwood commented on #23
@andygeers I'm currently revisiting possible performance improvements in Euclid. Are you still using it in your app?

[2021-08-09 08:47] andygeers commented on #23
Hi Nick, yes I do, although I’ve barely touched the app since last summer. But happy to test things out for you if it would be useful (significant performance improvements might help me get going again!)

[2021-08-09 09:06] nicklockwood commented on #23
@andygeers Great! Yeah, I also haven't really touched ShapeScript much in the last years or so, but I'm excited to get back to it.

I have already made some fairly significant performance improvements anyway since we last discussed this - in particular Euclid now has optimized methods for applying multiple CSG operations at once that you may find give you a boost, but there's definitely still room

[2021-09-03 22:49] iwoj commented on #53
Very poorly documented, but an important new feature of RealityKit. Not sure why Apple isn't making this a higher priority topic. (Also automated testing of Apple AR apps is almost impossible.)

Here are some relevant links:
https://maxxfrazer.medium.com/getting-started-with-realitykit-procedural-geometries-5dd9eca659ef
https://developer.apple.com/documentation/realitykit/creating_3d_content_with_

[2021-09-27 15:43] PrashantKT opened #69 "Find the collider on the mesh"
Is it possible that find the collision area on two meshes and highlight it with colours

![Simulator Screen Shot - iPad Pro (12 9-inch) (4th generation) - 2021-09-27 at 21 09 46](https://user-images.githubusercontent.com/35359315/134940709-d01a8c28-aac5-49dc-bb1a-58f3a0b626a5.png)

I have CUBE and It is intersecting with Sphere

Now I want the output to be on Cube Or on Sphere the intersect part o

[2021-09-27 15:50] nicklockwood commented on #69
I think perhaps you want to use the `stencil` function? I'm not sure I've fully understood what you are trying to do though.

[2021-10-08 15:03] iwoj opened #72 "Detessellate Not Working for Some Models"
For example: https://www.icloud.com/iclouddrive/0K8FOcYTy7wEBf0WRt-70LrTw#Detessellate_Test

[2021-11-01 09:33] nicklockwood commented on #72
Can you elaborate? Is the attached model the result of detessellation, or the input?

Can you provide a code sample of how you are loading the model, and what you expect the output to be?

Also, I notice that when I preview the model in the Finder, it seems to have inverted faces - could that be related to the issue?

[2021-12-14 11:21] PrashantKT opened #76 "Can we make Cross Section effect"
is there any way that we can get this kind of effect

https://www.youtube.com/watch?v=o8PdPdcbMzk

Goal is - let's say two mesh are overlapping each other - I need to find the intersection on the plane  with 2d Path

[2021-12-14 11:42] nicklockwood commented on #76
Yes, create a cube that us bigger than your mesh and then offset it and subtract from the mesh.

[2021-12-14 11:44] nicklockwood commented on #76
If you only want the intersection (the shaded area in the video), not the cut-off shape itself, you could create a square shape and take the union of that and your mesh.

[2021-12-14 12:13] iwoj commented on #76
Is Euclid sufficiently performant that it could achieve the same frame rates as the video?

[2021-12-14 12:15] nicklockwood commented on #76
It depends on the complexity of the Mesh. It should be fast enough, but if not I'd be willing to work on optimizing it.

[2021-12-15 10:25] PrashantKT commented on #76
@nicklockwood  Thank you , subtract is working like you have suggested

    How can I Offset it , with translate ?  I have tried but It is always cutting from centre

+

is there any way that I can get the path which is subtracted -  I need to draw 2d Path from area is intersected

Like this image  - I need to draw border in 2d

<img width="428" alt="Screenshot 2021-12-15 at 3 52 26 PM" src="https

[2021-12-15 11:39] nicklockwood commented on #76
Yes, with translate.

There's not currently a way to get a Path from a mesh, but if you share your project I can take a look at how to do this for you. It may be possible by using detessellate function.

[2021-12-15 15:49] PrashantKT commented on #76
Thank you for response

Yes translate is working !!

It can be your sample code - where we can load STL file (or any other mesh) - subtract cube

Now  I need border  outline of remaining part - need to reflect in 2d UIView may be with BezierPath

![Simulator Screen Shot - iPad Pro (12 9-inch) (5th generation) - 2021-12-15 at 21 10 32](https://user-images.githubusercontent.com/35359315/146217830-de

[2021-12-15 16:14] nicklockwood commented on #76
Can you share the example model(s) you are testing with?

[2021-12-16 09:28] PrashantKT commented on #76
Yes sure
[t6.stl.zip](https://github.com/nicklockwood/Euclid/files/7726001/t6.stl.zip)

[2021-12-17 06:39] PrashantKT commented on #76
Update :

@nicklockwood

I am able to find these points

![Simulator Screen Shot - iPad Pro (12 9-inch) (5th generation) - 2021-12-17 at 12 04 14](https://user-images.githubusercontent.com/35359315/146500028-dac9f2d0-4418-48a3-b502-1647270d7be8.png)

From intersection function I am getting `bp`

But there are some other random points (other than border)

Now I need to draw 2d Arc using this points

[2021-12-17 07:33] nicklockwood commented on #76
If you set a material on your cube, you can then filter the resultant polygons by that material and only have the vertices for those surfaces. That should make it easier.

[2021-12-17 13:02] PrashantKT commented on #14
@andygeers Do you know how to find the outline from the mesh - and render in 2s

[2021-12-24 00:42] nicklockwood commented on #76
@PrashantKT if you'd like to try the latest build from the develop branch, I've added a new method to Mesh:

[code]

This returns a Set of LineSegments that represent all the edges intersected by the plane. I think this will be the solution to your problem.

[2021-12-24 14:01] PrashantKT commented on #12
@nicklockwood  I am facing the same issue - operation is slow in Debug mode - but in release mode it is okay

Is there any workaround for that ?

can we do mesh decimation  to reduce the STL or OBJ File size by may be decreasing Polygons

I think this library is more capable then any other to do this 😊

[2021-12-24 14:06] PrashantKT commented on #76
@nicklockwood  Wow - That I will try definitely - Thank you for your all efforts

[2021-12-24 23:17] nicklockwood commented on #12
@PrashantKT the slowness in debug mode is mainly due to the Swift optimizer. The best option is to set the Euclid module's optimization level to -Os in the build settings for debug mode.

Euclid doesn't currently have a mechanism for mesh decimation/simplification, but it's maybe something I could add if I can find a good algorithm.

[2022-01-06 13:13] PrashantKT opened #78 "Question : How to calculate transform after subtract"
I want to translate polygon to center ,

let's say I have Mesh 1 - with transform (rotate , scale , transalte )

Mesh2 (BOX) with transform

Now When I subtract both meshes  with Following code

[code]
When we create the mesh with this polygons
because  the result polygon are as per the transform of the original mesh  ( translated as per original mesh) the new mesh created is also at the same posi

[2022-01-06 13:41] PrashantKT commented on #78
Oh I am so stupid - It was  just  translate -Vector(node.position)

[2022-01-06 13:41] #78 closed

[2022-01-08 00:05] nicklockwood commented on #62
Landed in 0.5.16

[2022-01-08 00:05] #62 closed

[2022-01-08 00:06] #76 closed

[2022-01-24 12:41] PrashantKT commented on #12
@nicklockwood I have integrated  files manually - because I need to modify some file - Do I need to create framework now to change the optimisation level ? could you please guide it how to do this

[2022-01-24 12:54] nicklockwood commented on #12
If you have added the files manually without a sub-project, it's not possible to chnage the optimization level unless you do it for your whole project. The best option is to integrate by dragging the entire Euclid Xcode project into yours as a sub-project, then you can still edit the files, but also change the optimization level separately.

If you have done that, all you need to do is change this

[2022-01-24 12:55] nicklockwood commented on #12
Note that this will make it harder to debug any changes you make to Euclid files. If you need to debug Euclid, switch back to No optimization for debug mode, then switch back again when you are finished testing.

[2022-01-24 12:58] PrashantKT commented on #12
@nicklockwood  Thank you !! I did the same - But I am not able to access some of the classes  ,

I have checked Polygon is already Public but still not able to access it

<img width="772" alt="Screenshot 2022-01-24 at 6 26 37 PM" src="https://user-images.githubusercontent.com/35359315/150786904-c6a10cee-a17b-40af-a2cb-20b42140e0d5.png">

[2022-02-11 22:29] nicklockwood commented on #33
@netgfx thanks to the kind contributions of @heckj you can now find full documentation for Euclid at: https://nicklockwood.github.io/Euclid/documentation/euclid/ - let me know if you find anything incomplete or incorrect.

[2022-02-11 22:29] #33 closed

[2022-02-14 19:01] 3dter opened #82 "Dash or dot line material"
Hi

Do you have any idea to implement the dash or dot line materials supporting?

[2022-02-18 06:24] PrashantKT commented on #12
@nicklockwood  Thank you it is working !! - Sir Are you able to find solution for decimation (reduce the SIZE / POLYGON) of object ?

[2022-02-18 19:15] ralphgeorg-s opened #83 "Offset (Displacement Modifier)"
the library is amazing. I would like to add a displacement - for example 0.5mm - so that the objects are not water-tight. Is there an option?

[2022-02-18 19:47] nicklockwood commented on #83
I'm not sure I understand. What do you want to displace?

[2022-02-21 13:46] PrashantKT opened #84 "Marking Line in mesh with Touch methods"
Hi

So I have one Mesh - created from Node

Now on touch delegate method - I wanted to draw line over the mesh

What I tried is I get the hit test point - find the polygon - create node - add to to scene

     override func touchesMoved(_ touches: Set<UITouch>, with event: UIEvent?) {
        let touch = touches.first!
        let hitResult = scnView.hitTest(touch.location(in: scnView), options: [

[2022-02-21 15:54] nicklockwood commented on #83
OK, I think I understand. This feature doesn't exist in Euclid currently, but isn't hard to add.

[2022-02-21 18:21] nicklockwood commented on #83
@ralphgeorg-s I'll add the feature soon.

[2022-02-21 18:23] ralphgeorg-s commented on #83
that's amazing, thx.

[2022-02-21 19:59] nicklockwood commented on #83
@ralphgeorg-s I've pushed the feature to the [develop branch](https://github.com/nicklockwood/Euclid/tree/develop). Use it like this:

[code]

[2022-02-21 20:05] nicklockwood commented on #83
@ralphgeorg-s actually it seems a little buggy for some meshes. I'll let you know when it's fixed.

[2022-02-21 21:50] nicklockwood commented on #83
@ralphgeorg-s OK, it's working better now. There are still some issues with concave meshes, but that may not be an issue for you. Let me know if it solves your problem.

[2022-02-22 03:13] ralphgeorg-s commented on #83
Thx so much, we will test.

[2022-02-22 15:17] ralphgeorg-s commented on #83
@nicklockwood - we tried yesterday night - but it takes hours to calculate. We do have some complex files.

[2022-02-22 16:53] nicklockwood commented on #83
@ralphgeorg-s OK, I'll do some work to optimize it. Can you send me a sample file I can use for testing?

[2022-02-22 19:25] ralphgeorg-s commented on #83
https://drive.google.com/drive/folders/19vGaDcbvOKZanJKtieztAbt8U1B1J8Ok?usp=sharing

On Tue, Feb 22, 2022 at 11:53 AM Nick Lockwood ***@***.***>
wrote:

[2022-02-22 22:07] nicklockwood commented on #83
@ralphgeorg-s I've improved the performance of `Mesh.inset(by:)` - it should now be near-instant.

[2022-02-24 13:32] ralphgeorg-s commented on #83
Hi Nick,

with inset, the simple objects get messed up. Without the calculation is
clean. Any idea why that happens?

The last change works really well. The cal. is done super quick. Inset 0.05
means 50 microns?

[image: Screen Shot 2022-02-24 at 8.29.36 AM.png]
[image: photo_2022-02-24 08.29.28.jpeg]
Kind regards,

Ralph Georg
CEO & Founder
https://www.facebook.com/ralph.georg/
https://www.instag

[2022-02-26 10:54] nicklockwood commented on #83
@ralphgeorg-s the screenshots you shared didn't come through. Perhaps you can share some code I can use to reproduce the issue with the models you already provided?

Euclid uses abstract distance units, so it will be relative to whatever the original model scale was. If your original model scale is in mm then 0.05 will be 50 microns (unless you've applied a scale transform to the model after loadi

[2022-02-26 12:22] #45 closed

[2022-03-05 07:35] jkalias commented on #37
This issue has fully resolved

[2022-03-05 07:35] #37 closed

[2022-03-08 15:56] tonyskansf opened #86 "Mesh created from SCNNode and vice versa"
Hi 👋

It seems that each created `Mesh` from `SCNNode` is positioned at the origin (zero vector) regardless of the node's `position` property in the scene. Am I creating meshes the wrong way, or is this an expected behavior?

Example:

[code]

My use case is the subtract operation on two nodes sometime later after their initialization. However, doing this with the meshes created the way shown abov

[2022-03-08 17:23] nicklockwood commented on #86
This was intentional, but I can see why it would seem like a bug. I'll consider changing it in future (although I'll need to consider backwards compatibility). In the meantime your solution seems fine.

[2022-03-09 08:45] tonyskansf commented on #86
Nice, I believe it would be a great addition to the framework. Thank you for the answer.

[2022-03-09 08:45] #86 closed

[2022-03-10 11:28] PrashantKT commented on #84
@nicklockwood  Is it possible to do this in custom Mesh ?

Goal is to draw custom path. - over the mesh BODY

![Simulator Screen Shot - iPad Pro (12 9-inch) (5th generation) - 2022-03-10 at 16 58 00](https://user-images.githubusercontent.com/35359315/157652862-cba503c5-ad1b-453a-94ab-efec3e32c330.png)

[2022-03-11 06:58] nicklockwood commented on #84
I can't currently think of a way that you could do this with Euclid.

[2022-03-11 09:58] PrashantKT commented on #84
@nicklockwood  No worries
 Thank you  for your time :)   My plan is to create Mesh from the PATH (stroke) - subtract it from the main Sphere

[2022-03-14 13:42] tonyskansf opened #87 "Unexpected results from multiple subtract operations on native SCNBox"
Hi, I'm getting weird results from multiple `subtract` operations between two nodes created from the `SCNBox` geometry—there are always some polygons from the RHS mesh remaining in the resulting mesh after the subtraction. This, however, does not happen when Euclid's `Mesh.cube` is used.

I believe the below example should explain what's happening. The example is simplified. I'm facing the same is

[2022-03-14 22:26] nicklockwood commented on #87
Thanks for the detailed report - I'll look into it.

[2022-03-14 22:27] nicklockwood commented on #83
@ralphgeorg-s any update?

[2022-03-14 22:45] ralphgeorg-s commented on #83
Hi, not yet. when the offset is zero - then the boolean difference is perfect. I used a cube ad a pipe. When you set an offset the models break in pieces.

[2022-03-15 22:39] tonyskansf commented on #87
I did some digging and noticed this with the mesh created from the `SCNBox` geometry:

The polygons share vertices; however, in some cases, these (visually same) vertices have different values in their x, y, or z `position` coordinate. Although those values vary, they visually represent the same vertex.

For example: Both vertices were created from the `Mesh.init` and from whatever data was in the

[2022-03-16 17:17] nicklockwood commented on #87
@tonyskansf AFAICT the issue is with the actual vertices produced by SceneKit. If I reduce the `precision` value in `Utilities.quantize()` down to `1e-7` it solves the problem, but that's not really a good solution as it breaks other models with fine details.

I'm not really sure what to do about it. I could add a special case to produce clean data for `SCNBox`, but that wouldn't solve the general

[2022-03-22 11:31] tonyskansf commented on #87
Just as you said, reducing the numbers might help in this specific case, but is breaking other cases. I still have two input meshes that are watertight but the resulting mesh after `subtract` is not even though there is no reason not to be. Not sure however how to proceed further with the issue.

[2022-04-08 06:41] yuriynefedov opened #88 "Node naming issues after the 3D model goes through Euclid"
Hi! Our team is using Euclid to clip USDZ models, and we love it.

However, we recently noticed that after the model goes through Euclid and is further exported to SceneKit, the PNG texture files get renamed (see screenshots below).

Is this done internally by Euclid? If so, is there a way to prevent this renaming from happening?

Before:
<img width="691" alt="image" src="https://user-images.githu

[2022-04-08 08:20] nicklockwood commented on #88
@yuriynefedov I'm just using Apple's own APIs for loading and saving USDZ, so I don't think there's any way I can influence this.

If you share a sample file I'll take a look and see if I can work out where the rename is happening though.

[2022-04-08 21:04] nicklockwood commented on #86
@tonyskansf this is fixed in 0.5.18. I've added an explicit parameter to control whether the transform is applied.

[2022-04-11 19:37] nicklockwood commented on #87
@tonyskansf this should be fixed in 0.5.19. I've added some additional logic to `makeWatertight()` that merges vertices that are close but not exactly equal, such as those in the SCN primitives.

[2022-04-11 19:37] #87 closed

[2022-05-03 17:37] nicklockwood commented on #88
@yuriynefedov any update on this? If you don't want to share your model publicly you can send it to support@charcoaldesign.co.uk

[2022-05-11 04:16] yuriynefedov commented on #88
Thanks, @nicklockwood. Luckily we found a way to account for this in our scenario. This must be coming from Apple APIs indeed. Not a Euclid issue.

[2022-05-11 04:16] #88 closed

[2022-05-12 23:15] ralphgeorg-s commented on #83
<img width="1017" alt="Screen Shot 2022-05-12 at 7 13 20 PM" src="https://user-images.githubusercontent.com/99993304/168182164-673db6be-8b6d-4ca6-bb9b-cba40611c141.png">
<img width="746" alt="Screen Shot 2022-05-12 at 7 14 03 PM" src="https://user-images.githubusercontent.com/99993304/168182222-426367a9-d1e1-4ca7-b804-adf5f6db64fe.png">

when we add the Mesh.inset(by:) - the mesh explode somehow.

[2022-05-21 14:00] PrashantKT opened #90 "How to consider PIVOT when we create mesh from node or geometry"
let's say I have  following code

        let plane = SCNBox(width: 12, height: 2, length: 12, chamferRadius: 0)
        plane.firstMaterial?.diffuse.contents = UIColor.red
        let planeNode = SCNNode(geometry: plane)
        planeNode.name = "Plane1"
        planeNode.pivot  = SCNMatrix4MakeTranslation(0, -0.5, 0)
        planeNode.geometry?.firstMaterial?.diffuse.contents = UIColor.red.withA

[2022-05-21 22:07] nicklockwood commented on #90
@PrashantKT I wasn't aware of the pivot property, but I'll add support for it. In the meantime, if the pivot is something simple like a translation then you can probably just pre-apply it to the Mesh before you apply the node transform. Converting an arbitrary SCNMatrix to a Transform is a little more complex though.

[2022-05-21 22:31] nicklockwood commented on #90
@PrashantKT I've pushed a quick fix to the [develop branch](https://github.com/nicklockwood/Euclid/tree/develop). If you check out that branch and then create a Mesh with:

[code]

It should the right thing.

[2022-05-23 05:47] PrashantKT commented on #90
@nicklockwood Thanks for quick response ,I will check it

[2022-05-23 06:40] PrashantKT commented on #90
@nicklockwood  Working Great !! thank you - but in  dev brach some function are missing may be you removed it
But I have added manually  so no issues

[code]

[2022-05-23 06:40] #90 closed

[2022-06-02 04:33] maghzchenyu opened #91 "init crash"
let box1 = SCNBox(width: 10, height: 10, length: 10, chamferRadius: 0)
let mesh11 = Mesh(box1)
app to cash

[2022-06-02 07:51] nicklockwood commented on #91
@maghzchenyu thanks, this is now fixed in 0.5.22

[2022-06-02 07:52] #91 closed

[2022-06-03 12:24] PrashantKT opened #92 "UNION operation result is with HOLE"
I am performing union operation with two STL

The result of the union is with hole ,expected result is to merge both MODEL and create single model

See the Image of Result
![Simulator Screen Shot - iPad Pro (12 9-inch) (5th generation) - 2022-06-03 at 17 38 28](https://user-images.githubusercontent.com/35359315/171852224-61660027-745e-43f3-ba61-59b3ef5fd61d.png)

Attached the Result STL file  + In

[2022-06-07 18:28] nicklockwood commented on #92
@PrashantKT the issue is that the IOScanupper_16.stl isn't watertight - it has holes in it. The union function only works with closed solids. Unfortunately I don't have a function that can fill these holes automatically at the moment.

[2022-06-09 06:36] PrashantKT commented on #92
@nicklockwood  Okay Thanks - I will merge both with Scenekit

[2022-06-09 06:36] #92 closed

[2022-06-09 08:11] nicklockwood commented on #92
@PrashantKT if you merely wish to combine the meshes you can use Euclid's Mesh.merge() function. I assumed you were using union because it removes overlapping polygons, but if you don't need that you can use merge.

[2022-06-14 06:50] iwoj commented on #53
I just thought I'd bump this in case it's still in the running for your attention.

[2022-06-14 12:38] andriiicatmed opened #93 "Did you consider simd?"
Hi, I see we are using custom vector and quaternion definition with Double.
Was it intentional and with Float we gonna get accuracy problems?

[2022-06-14 17:31] nicklockwood commented on #53
@iwoj I'd still like to add this, but because it's not something I need myself it's pretty low down the priority list at the moment. If you'd be interested in attempting it yourself, even if it's just a prototype, I'd be happy to accept a PR and take over maintenance of it.

[2022-06-16 03:22] vml933 opened #94 "subtract mesh to export obj file"
Hi, I create a cube mesh than use subtract to cut my game model, it look fine in sceneKit, but I use MDLAsset to export obj file, the obj file still show the cube mesh,

Is possible preserve the subtract mesh only?

Here is the obj file screenshot, the right part is gameModel, the left part is the mesh
[https://imgur.com/cNxGW90.jpg](url)

[2022-06-16 16:32] PrashantKT commented on #92
@nicklockwood  Okay I will try  Thanks

[2022-07-07 08:00] mansbernhardt opened #95 "Use of `static var` constants instead of `static let`"
When building code using -warn-concurrency, the compiler will return warnings when using "constants" from Euclid, as they are declared `static var` instead of `static let` such as e.g.:

[code]

returns this warning when accessing white:

`Reference to static property 'white' is not concurrency-safe because it involves shared mutable state`

I suggest updating all constants to use let instead of v

[2022-07-11 23:05] nicklockwood commented on #95
@mansbernhardt thanks for reporting this. I've fixed that and also added Sendable conformances on the develop branch. I had to add unchecked conformance for the Material handling (which isn't truly thread safe), but I'll consider how that might be improved in future.

[2022-07-12 07:02] mansbernhardt commented on #95
Thanks @nicklockwood!

[2022-07-17 06:08] iwoj commented on #72
Long delayed reply: I want to use the above model as input into your detessellation method. All I'm doing is calling `detessellate()` on the mesh. When I invert the normals like you suggest (I use meshlab for that) and input the model again, I get the same result. Here, you can see both models have some detessellated faces and some that remain tessellated:

![IMG_7331](https://user-images.githubus

[2022-07-17 07:43] iwoj opened #96 "Move import/export to main UI and collab to menu"
Requires some message on import so user knows to look for STL models only.

[2022-07-17 07:44] iwoj commented on #96
Sorry. Wrong Repo.

[2022-07-17 07:44] #96 closed

[2022-07-18 22:49] #95 closed

[2022-07-18 22:52] nicklockwood commented on #72
@iwoj normals can affect detessellatioon because if two neighboring triangles face opposite directions then they are effectively not coplanar and cannot be merged into a single quad.

That said, you are right that it seems that was not the issue in this case. I believe I've now fixed the actual issue, and pushed a fix to the [develop](https://github.com/nicklockwood/Euclid/tree/develop) branch if

[2022-07-19 18:57] iwoj commented on #72
It works much better now. I'm still noticing a few models that don't detessellate and I don't think it's because of normals. Does detessellation only reduce to quads or can it create planar polygons with any number of vertices?

[2022-07-19 19:19] nicklockwood commented on #72
It can produce any number of vertices. If you have example models that don't detessellate properly please share them and I'll investigate further.

[2022-08-25 21:50] kunitsyn opened #97 "CSG bug when operating on a particular extruded mesh"
First of all, thank you for the library, it's awesome. I understand it's in development, and I believe it would benefit from another test case. The following code yields non-optimal results, on the current master branch:

[code]

Mesh R will look like this (with A shown in wireframe):

<img width="433" alt="image" src="https://user-images.githubusercontent.com/2458966/186773440-fc2c3ec3-e95e-4d16-

[2022-08-25 21:55] nicklockwood commented on #97
Thanks for reporting this, I'll see what I can do. In general I have a lot of problems with floating point precision for which there seems to be no simple solution. Usually I solve specific cases by tweaking the various epsilon values, but often this just breaks something else.

[2022-10-05 22:26] nicklockwood commented on #53
@iwoj hey! I've pushed experimental RealityKit support to the [develop](https://github.com/nicklockwood/Euclid/tree/develop) branch. It's a WIP but I don't anticipate that the API will change significantly before release.

Please try it out and let me know if you find any problems.

[2022-10-26 06:28] nicklockwood commented on #53
@iwoj landed in 0.6.0

[2022-10-26 06:28] #53 closed

[2022-10-26 06:30] nicklockwood commented on #93
@andriiicatmed I've added internal SIMD support for quaternions in 0.6.0. I didn't see any performance benefit so far, but I'll look out for other places it can be used.

[2022-10-26 06:30] #93 closed

[2022-10-26 06:32] nicklockwood commented on #23
@andygeers just an update on this - I tried caching BSP for reuse as part of a raft of performance optimizations I made for 0.6.0 and saw no benefit for any of my test models. If you've got any examples of code where you still believe it would help I'd love to see them.

[2022-11-02 17:26] naccib opened #98 "Assertion fail when applying transform on Mesh"
I'm creating a mesh from a `SCNNode`'s geometry. When trying to apply a transform, I get the following fatal error:

[code]
This error is caused by a failed normalization assert on `Plane.swift`.

Minimally Reproducible Example:

[code]

I'm loading the file using ModelIO. Mesh file used: https://1drv.ms/u/s!ApWujpauQd0YgpBiWTsh1zxIN-pWsA?e=4VEFP2

[2022-11-03 15:11] nicklockwood commented on #98
@naccib thanks for reporting this. What are the values you are using for `scale` and `registration` in your example?

[2022-11-03 18:21] naccib commented on #98
`scale` is a simple scale symmetric matrix with a factor of 0.001 (so 0.001 on the $m_{11}$, $m_{22}$ and $m_{33}$). The `registration` matrix is a little bit more complex because it's different at each runtime, but it only contains a rotation and a translation.

I've found that simply deleting this assertion fixes the issue with no apparent difference from applying those two transforms with Scene

[2022-11-03 18:56] nicklockwood commented on #98
I'm not able to reproduce the assertion with the parameters you've given, so I suspect the specific transform matrix might be relevant. I'd prefer not to delete the assertion until I can understand why it's firing.

[2022-11-03 19:50] naccib commented on #98
That's a reasonable approach. This causes the assertion to fire:

Scale Matrix (`scale`):

[code]

Registration matrix (`registration`):

[code]

[2022-11-03 23:35] nicklockwood commented on #98
@naccib this is now fixed in 0.6.1

[2022-11-03 23:35] #98 closed

[2022-11-03 23:35] #23 closed